{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block body_outer %}

{% block content %}

    {% for block in page.body %}

        <div>{% include_block block %}</div>

    {% endfor %}

{% endblock %}


{% endblock %}
 