.circunferencia{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}