{% load i18n %}
<!--Modal Calculator-->
<div class="modal fade" id="CalculatorModal" tabindex="-1" aria-labelledby="CalculatorModalLabel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" value="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="CalculatorModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>{% trans "Use this window to configure your cost function by selecting the variables of your interest: flow, concentration or loads." %}</p>
                        <p>{% trans "Expand the list of items and click to build the function." %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="text-primary">Cost function name</label>
                            <input id="costFunctionName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="text-primary">Cost function description</label>
                            <textarea id="costFuntionDescription" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="text-primary">{% trans "Currency for definition of costs" %} </label>
                                <select id="currencyCost" class="form-control" required>
                                    {% for currency in currencys %}
                                        {% if currency.currency == 'USD'%}
                                            {% if currency.iso3 == userCountry.iso3 %}
                                                <option value="{{currency.pk}}" data-country="{{currency.iso3}}" selected>({{currency.currency}}) - {{currency.name}}</option>
                                            {% else %}
                                                <option value="{{currency.pk}}" data-country="{{currency.iso3}}">({{currency.currency}}) - {{currency.name}}</option>
                                            {% endif %}
                                        {% else %}
                                            {% if currency.currency == intake.city.country.currency %}
                                                <option value="{{currency.pk}}" attr="{{currency.currency}}" selected>({{currency.currency}}) - {{currency.name}} </option>
                                            {% else %}
                                                <option value="{{currency.pk}}">({{currency.currency}}) - {{currency.name}}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label class="text-primary">{% trans "Multiplying factor for overrall cost" %} </label>
                                <input type="number" value="1.00" onblur="value.length!=0||(value='0.01');" step="0.01" min="0.01" oninput="validity.valid||(value='');" id="global_multiplier_factorCalculator" class="form-control">
                            </div>
                        </div>
                        <h5 class="text-primary keyboard-title">{% trans "Syntax keyboard" %}</h5>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#mathBasic_tab" data-toggle="tab">{% trans "Basic" %}</a></li>
                            <li><a href="#mathAdvanced_tab" data-toggle="tab">{% trans "Advanced" %}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="mathBasic_tab" class="tab-pane fade in active">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="=">&#61</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="+">&#43</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="-">&#8722;</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="*">&#215</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="/">a/b</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="**">a^b</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="sqrt()">&#8730</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="min()">min</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="max()">max</button>
                                </div>
                            </div>
                            <div id="mathAdvanced_tab" class="tab-pane fade in">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="pi">π</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="e">e</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="log()">ln</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="log10()">log</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="%">mod</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value=">">&#62;</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="<">&#60;</button>
                                    <button type="button" class="btn btn-default math-btn" name="mathKeyBoard" value="(expression) if (conditional) else (other_case)">if</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel-group" id="VarCostListGroup" style="max-height: 480px; overflow-y: auto;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="mathNatural" class="tab-pane fade in active">
                            <textarea id="python-expression" class="python-expression" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" x-palm-disable-ste-all="true"></textarea>
                            <button value="validate" id="btnValidatePyExp">{% trans "Validate" %} </button>
                            <div id="MathPreview" class="preview"></div>
                        </div>
                        <div id="mathLogical" class="tab-pane fade"></div>
                    </div>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" value="close" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="button" value="add cost" class="btn btn-primary" id="saveAndValideCost">{% trans "Add cost" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
