{% load i18n %}
<!--HelpStep4-->
<div class="modal fade" id="HelpStep4" tabindex="-1" aria-labelledby="HelpModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" value="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title text-center" id="HelpModalLabel" style="color:#6398C1 ;">{% trans "Adjustment of Biophysical Parameters" %}
                </h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>
                        {% trans "Study cases help 4 text 1" %}
                    </p>
                    <p>
                        {% trans "Study cases help 4 text 1.1" %}
                    </p>
                    <ul>
                        <li><b>lucode: </b>{% trans "Study cases help 4 text 2" %}  </li>
                        <li><b>root_depth:</b>{% trans "Study cases help 4 text 3" %}  </li>
                        <li><b>usle_c: </b>{% trans "Study cases help 4 text 4" %}  </li>
                        <li><b> usle_p: </b>{% trans "Study cases help 4 text 5" %}  </li>
                        <li><b>load_n: </b>{% trans "Study cases help 4 text 6" %}  </li>
                        <li><b>eff_n:</b>{% trans "Study cases help 4 text 7" %}  </li>
                        <li><b>load_p: </b>{% trans "Study cases help 4 text 8" %}  </li>
                        <li><b>eff_p: </b>{% trans "Study cases help 4 text 9" %}  </li>
                        <li><b>crit_len_n: </b>{% trans "Study cases help 4 text 10" %}  </li>
                        <li><b>crit_len_p: </b>{% trans "Study cases help 4 text 11" %}  </li>

                        <li><b>proportion_subsurface_n: </b>{% trans "Study cases help 4 text 12" %}  </li>
                        <li><b>cn_a: </b>{% trans "Study cases help 4 text 13" %}  </li>
                        <li><b>cn_b: </b>{% trans "Study cases help 4 text 14" %}  </li>
                        <li><b>cn_c: </b>{% trans "Study cases help 4 text 15" %}  </li>
                        <li><b>cn_d: </b>{% trans "Study cases help 4 text 16" %}  </li>
                        <li><b>kc_1: </b>{% trans "Study cases help 4 text 17" %}  </li>
                        <li><b>kc_2: </b>{% trans "Study cases help 4 text 18" %}  </li>
                        <li><b>kc_3: </b>{% trans "Study cases help 4 text 19" %}  </li>
                        <li><b>kc_4: </b>{% trans "Study cases help 4 text 20" %}  </li>
                        <li><b>kc_5: </b>{% trans "Study cases help 4 text 21" %}  </li>

                        <li><b>kc_6: </b>{% trans "Study cases help 4 text 22" %}  </li>
                        <li><b>kc_7: </b>{% trans "Study cases help 4 text 23" %}  </li>
                        <li><b>kc_8: </b>{% trans "Study cases help 4 text 23 2" %}  </li>
                        <li><b>kc_9: </b>{% trans "Study cases help 4 text 24" %}  </li>
                        <li><b>kc_10: </b>{% trans "Study cases help 4 text 25" %}  </li>
                        <li><b>kc_11: </b>{% trans "Study cases help 4 text 26" %}  </li>
                        <li><b>kc_12: </b>{% trans "Study cases help 4 text 27" %}  </li>
                        <li><b>c_above: </b>{% trans "Study cases help 4 text 28" %}  </li>
                        <li><b>c_below: </b>{% trans "Study cases help 4 text 29" %}  </li>
                        <li><b>c_soil: </b>{% trans "Study cases help 4 text 30" %}  </li>

                        <li><b>c_dead: </b>{% trans "Study cases help 4 text 31" %}  </li>
                        <li><b>sed_exp: </b>{% trans "Study cases help 4 text 32" %}  </li>
                        <li><b>sed_ret: </b>{% trans "Study cases help 4 text 33" %}  </li>
                        <li><b>rough_rank: </b>{% trans "Study cases help 4 text 34" %}  </li>
                        <li><b>cover_rank: </b>{% trans "Study cases help 4 text 35" %}  </li>
                        <li><b>p_ret: </b>{% trans "Study cases help 4 text 36" %}  </li>
                        <li><b>p_exp: </b>{% trans "Study cases help 4 text 37" %}  </li>
                        <li><b>n_ret: </b>{% trans "Study cases help 4 text 38" %}  </li>
                        <li><b>n_exp: </b>{% trans "Study cases help 4 text 39" %}  </li>
                        <li><b>native_veg: </b>{% trans "Study cases help 4 text 40" %}  </li>
                        <li><b>lulc_veg: </b>{% trans "Study cases help 4 text 41" %}  </li>
                    </ul>
                </div>
                <div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" value="close" class="btn btn-secondary" data-dismiss="modal" style="color: white; background-color: #6398C1;">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
