{% load i18n %}
<!--HelpStep1-->
<div class="modal fade" id="HelpStep1" tabindex="-1" aria-labelledby="HelpModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" value="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title text-center" id="HelpModalLabel" style="color:#6398C1 ;">{% trans "Creation of study cases" %}
                </h3>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "In this section the key actions refer to the selection of treatment plants and catchments that make up the case study, since through them the system obtains the indications for the execution of the RIOS model in charge of recommending the areas of implementation of the Nature-Based Solutions NBS." %}
                </p>
                <p>
                    {% trans "Thanks to the catchment configuration, the system knows the geographical area in which the user wishes to implement the NBS and analyze the costs, in order to proceed with the ROI analysis." %}
                </p>
                <p>
                    {% trans "Remember that ROI is an indicator that allows you to know how much money is lost or earned with the investments made. It is a performance measure used to evaluate the efficiency of an investment or to compare the efficiency of a number of different investments." %}
                </p>
                <div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" value="close" class="btn btn-secondary" data-dismiss="modal" style="color: white; background-color: #6398C1;">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
