{% extends "base.html" %} 
{% load i18n %} 
{% load static from staticfiles %}
{% load bootstrap_tags %} 
{% block extra_head %}
    <link href="{{ STATIC_URL }}lib/css/leaflet.css" rel="stylesheet">
    <link rel="stylesheet" href="https://photon.komoot.io/static/leaflet.photon/leaflet.photon.css"></link>
    <link href="{% static "geonode/css/search_city.css" %}" rel="stylesheet" />
{% endblock %}

{% block body_outer %}

    <div class="header-waterproof">
        <h1>{% trans "Search your city" %}</h1>
        <p style="text-align: justify;">{% trans "In this section you can consult the case studies configured in the system or start the configuration of a case study" %}</p>
    </div>

    <div class="row">
        <div class="col-md-12 mapAlign">
            <div id="map"></div>    
        </div>        
    </div>
    <br>
    <div class="table-responsive divCenter">
        <table align="center" class="table table-striped table-bordered table-condensed align-table">
            <thead class="tableStyleColor">
                <tr>
                    <th class="textCenter">{% trans "Region" %}</th>
                    <th class="textCenter">{% trans "Country" %}</th>
                    <th class="textCenter">{% trans "Selected City" %}</th>
                    <th class="textCenter">{% trans "Currency" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span id="regionLabel"></span></td>
                    <td><span id="countryLabel"></span></td>
                    <td><span id="cityLabel"></span></td>
                    <td><span id="currencyLabel"></span></td>
                </tr>
            </tbody>
        </table>

        <!-- <h4 id="countryLabel"></h4>
        <p><b>{% trans "Selected City" %} :</b> <span id="cityLabel"></span> </p>
        <p><b>{% trans "Region" %} :</b> <span id="regionLabel"></span> </p>
        <p><b>{% trans "Currency" %}:</b><span id="currencyLabel"></span></p> -->
        
    </div>
    <div class="divCenter button-padding">
        <!-- <button class="listStudyCaseButton divCenter" href="#">{% trans "List Study Cases" %}</button> -->
        <a class="listStudyCases listStudyCaseButton" href="#">{% trans "List Study Cases" %}</a>
    </div> 
{% endblock %}

{% block extra_script %}
  <script src="https://vinceg.github.io/twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
  <script src="https://vinceg.github.io/twitter-bootstrap-wizard/prettify.js"></script>
  <script src="{% static "lib/js/leaflet.js" %}"></script>  
  <script src="{% static "geonode/js/leaflet/photon/leaflet.photon.js" %}"></script>
  <script src="https://leaflet-extras.github.io/leaflet-providers/leaflet-providers.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static "waterproof/js/waterproof-common.js" %}"></script>
  
  <script type="text/javascript">
    SEARCH_CITY_API_URL = '{{ SEARCH_CITY_API_URL }}';
    SEARCH_COUNTRY_API_URL = '{{ SEARCH_COUNTRY_API_URL }}'
    OSM_BASEMAP_URL = '{{ OSM_BASEMAP_URL }} ';
    IMG_BASEMAP_URL =  '{{ IMG_BASEMAP_URL }} ';
    HYDRO_BASEMAP_URL =  '{{ HYDRO_BASEMAP_URL }} ';
    GRAY_BASEMAP_URL = '{{ GRAY_BASEMAP_URL }} ';
    RESULTS_LIMIT = '{{ CLIENT_RESULTS_LIMIT }}';
    URL_LIST_STUDY_CASES = url="{% url "study_cases_list" %}?limit={{ CLIENT_RESULTS_LIMIT }}&city=";
    URL_REFRESH_CITY = "";
    CENTER = [4.582, -74.4879];    
    MAXZOOM = 11;    
    let waterproof = {};   
    let showSearchPointsFunction = showSearchPoints; 
  </script>  
  
{% endblock %}
