{% extends "geonode_base.html" %}
{% load static from staticfiles %}

{% load i18n %}
{% block title %} {% trans "Take action" %} — {{ block.super }} {% endblock %}

{% block body_outer %}

<section>
	<div class="background-take-header">
		<h2 >{% trans "Take Action" %}</h2>
		<h4>{% trans "Now that you have a portfolio of nature-based solutions to improve water security in your basins of interest and you know the return on your investment," %}</h4> <h4>{% trans "Take it to action!" %}</h4>
	</div>
</section>
<section>
	<div class="row" style="height: 10px;">
	</div>
	<div class="newstitle text-center" >
		<h2>{% trans "Why is it important to do it?" %}</h2>
	</div>
	<div class ="col-md-12 text-center take-font-size" >
		<div class="col-md-4  ">
			<img class="image-icon-take" src= "{% static 'geonode/img/ICON_TA_1.png' %}">                              
		</div>
		<p class="col-md-7 offset-md-4 text-justify">
		{% trans "Watersheds around the world are being transformed and degraded, as we lose terrestrial and freshwater ecosystems at ever higher rates. Likewise, the demand for water is increasing at a rate that is expected to have increased by 30% by 2050, which, added to the impacts of climate change, pose a greater risk to the health of ecosystems and to security. water." %}
		</p>
	</div>
	<div class = "col-md-12 text-center take-font-size">
		<div class="col-md-4  ">
			<img class="image-icon-take" src= "{% static 'geonode/img/ICON_TA_2.png' %}">                              
		</div>	
		<p class="col-md-7 offset-md-4 text-justify">
		{% trans "Healthy ecosystems are the foundation for multiple ecosystem services that provide benefits to us as individuals and as a society. Therefore, the deterioration of ecosystems has important consequences on our well-being and exacerbates the challenges we currently face as a society. The degradation of ecosystems, climate change and the increase in water demand are just some of the factors that can increase social conflicts over water use, increase our vulnerability, decrease production and impact our economy." %}
		</p>
	</div>
	<div class = "col-md-12 text-center take-font-size">
		<div class="col-md-4  ">
			<img class="image-icon-take" src= "{% static 'geonode/img/ICON_TA_3.png' %}">                              
		</div>	
		<p class="col-md-7 offset-md-4 text-justify">
		{% trans "Nature-based solutions are actions that are based on ecosystems and the services they provide, to respond to various societal challenges such as climate change, food security, disaster risk or water security. It is an umbrella concept that addresses various actions and approaches that seek to address social problems and share the interest of taking advantage of ecosystems, their characteristics or functions, to solve them, while providing benefits for human well-being and biodiversity." %}
		</p>
	</div>
	<div class ="take-action-middle-tittle col-md-12 text-center "style="padding-bottom: 13%">
		<div class="col-md-12 background-solution">	
			<p>{% trans "The solution to face the challenge of water security in your basins of interest is in your hands. Go ahead and take the next step!" %}</p>
		</div>
		<div class="row" style="height: 10px;">
		</div>
		
	</div>
	<div class=" newstitle text-center " style="padding-top: 30%  ">
		<h2>{% trans "Why is it necessary to do it now?" %}</h2>
	</div>	
	<div class =" col-md-12 " style ="padding-top: 5%">
		<div class="col-md-7 font-image-take-action" style="padding-left: 10%;">
			<p class="text-justify ">
			{% trans "People around the world are facing intensifying water security problems, hand in hand with the deterioration of nature. The degradation of watersheds, as a result of poor management of water resources, the transformation of their vegetation cover and poor management and land use practices, generates direct impacts on the health of aquatic ecosystems, which have been transformed from accelerated manner in recent years. These ecosystems present the highest rates of degradation, compared to terrestrial and marine ecosystems. In recent decades, the loss of these ecosystems has intensified around the world and almost one in three freshwater species is threatened." %}
			</p>
			<p class="text-justify " style ="padding-top: 4%">
			{% trans "The cost of water treatment in several cities of the planet has increased due to the degradation of the basins, which translates into higher costs for users and a lower quality of the water supply service. " %}
			</p>
			<p class="text-justify " style ="padding-top: 4%">
			{% trans "We are at a crucial moment to make decisions and take them to action. It is necessary to diversify our actions and accelerate them, to address the challenges we face as a society such as water security. " %}
			</p>
		</div>
		<div class="col-md-5 offset-md-7 ">
			<img class="image-right-take-action" src= "{% static 'geonode/img/TA_right.png' %}"> 
		</div>	
	</div>
</section>
<section >
	<div class="">
		<div class = "take-action-middle-tittle col-md-12 text-center" >
			<h2>{% trans "Because investing in nature brings multiple benefits!" %}</h2>
			<div class="row" style="height: 10px;">
			</div>
			<p class="col-md-12 align-complete-take"style="color: #000">
			{% trans "By implementing your portfolio of nature-based solutions you are not only improving water security in the basins of interest. It is also helping to solve other social challenges that concern us as a global society. The following are some of them:" %}
			</p>	 
			<p class="text-justify">
		</div>
		<div class = "col-md-12 text-justify font-image-take-action" >
			<div class="col-md-5 ">
				<img class="image-left-take-action" src= "{% static 'geonode/img/TA_left.png' %}"> 
			</div>
			<div class="col-md-6 offset-md-5 fon">
				<a href= "https://www.ipcc.ch/"> {% trans "Addressing climate change:" %} </a> {% trans "By implementing its portfolio of nature-based solutions, it is helping to mitigate greenhouse gas (GHG) emissions, by avoiding deforestation or land cover transformation, and by improving land use practices. It also promotes carbon sequestration in vegetation and soil, increasing the carbon storage capacity. These actions are also known as " %} <a href= "https://www.pnas.org/content/114/44/11645"> {% trans "natural climate solutions (NCS)." %} </a> {% trans "On the other hand, by improving the natural state of the basins of interest and also contributing with better productive practices, it is also helping to improve ecosystem resilience and the response capacity of people, which increases the capacity to adapt to climate change. These actions are also known as " %} <a href= "http://naturalclimatesolutions.org/"> {% trans "ecosystem based adaptation (ABE)." %} </a> 
			</p>
			<p class="text-justify">
			<a href= "https://www.cbd.int/"> {% trans "Confronting the loss of biodiversity:" %} </a> {% trans "improving the natural condition of watersheds through nature-based solutions, with actions of preservation, restoration and better land management practices, brings benefits to biodiversity. Recovering habitats, their connectivity and reducing pressures on basins, creates the conditions for biodiversity to flourish. A healthy territory with healthy terrestrial and freshwater ecosystems provides favorable conditions for multiple ecosystem services. Biodiversity provides benefits for productive systems, such as pest control and the fixation of nutrients in the soil, generates new business opportunities such as nature tourism, and better conditions for human health." %}
			</p>
			</div>
		</div>
		<div class = "take-action-middle-tittle col-md-12 text-center">
			<p class="text-justify">
			<h2>{% trans "Now that you know the urgency and the critical moment in which we find ourselves, learn how to put into action the portfolio of nature-based solutions to improve water security in your basins." %}</h2>
			</p>
		</div>
		
	</div>
</section>
<section>
	<div class="row"></div>
	<div class= "background-take-middle" >
		<h1> {% trans "Do it now!" %} </h1>
		<p class="align-left-take-action" style="padding-top: 0%;">{% trans "This general process will help you put your portfolio of nature-based solutions into action and improve water security in your watersheds." %}		
		</p>
	</div>	
	<div class="align-normal-take-action col-md-12 offset-md-3 text-justify " style="padding-top: 3%;"  >
		{% trans "Implementing nature-based solutions in your watersheds can seem like a challenge. However, around the world they are done on a daily basis and we have done so for several decades, so we have the experience and knowledge to do it, as well as" %}
		<a href= "#step1"> {% trans "useful resources and references." %}</a> {% trans "You may decide to run this general process independently, but remember that you also have the experience and capabilities of various actors in your region" %} <a href= "#step1"> {% trans "who can help you do it." %}</a>
		{% trans "The general process that we propose here is a basic step by step with some actions that can facilitate the implementation and achieve the best results, learning and adjusting your plans in an adaptive management." %}
		</p>
	</div>
	<div class="row" style="height:30px;">
	</div>
</section>
<section>
	<section>
		<div class=" col-md-12 " >            
			<div class="col-md-5  ">
				<img class="image-steps-take" src= "{% static 'geonode/img/TA01.png' %}">                              
			</div>
			<div class= " col-md-6 offset-md-5 font-steps-take-action">
				<span >
				{% trans "Get your portfolio of Nature-Based Solutions and know your return on investment. In this step you must obtain a portfolio of Nature-Based Solutions aimed at improving the water security of your basins of interest. You may also be interested in calculating the return on investment of your portfolio and to get an approximation of the possible implementation and maintenance costs. You can obtain the portfolio of Nature-Based Solutions and return on investment using the WaterProof application or you can do it independently if you have the necessary information, tools and skills. " %}
				</span>					
			</div>
		</div>
		</section>
	</section>	
	<section>	 
	<div class=" col-md-12 ">    
		<div class="col-md-5">
			<img class="image-steps-take" src= "{% static 'geonode/img/TA02.png' %}">                              
		</div> 
		<div class= "col-md-6 offset-md-5 font-steps-take-action" >
			<span >
			{% trans "Socialize your portfolio with other stakeholders and key entities in your watersheds. By sharing the portfolio of Nature-Based Solutions with other relevant actors and entities in your territory, you can identify opportunities to leverage efforts and resources that facilitate and accelerate the implementation of actions, and collectively achieve greater impact. We encourage you to build alliances and collaborations to articulate other efforts in your watersheds and strengthen governance. " %}
			</span>					
		</div>
	</div>
	</section>
	<section>	
	<div class="col-md-12">
		<div class="col-md-5">
			<img class="image-steps-take" src= "{% static 'geonode/img/TA03.png' %}">
		</div>                              
		<div class= "col-md-6 offset-md-5 font-steps-take-action">
			<span >
			{% trans "Identify opportunities and stakeholders to implement portfolio actions. Nature-Based Solutions are implemented in public or private territories. Therefore, it is necessary to identify the entities and owners of those lands, communicate with them and determine if they have an interest in implementing the portfolio actions on their properties. This is fundamentally a negotiation process where the skills of the people who carry out this communication with the owners can have an impact on the results. " %}
			</span>	
		</div>				
	</div>	
	</section>
	<section>	
	<div class="col-md-12 ">
		<div class="col-md-5">
			<img class="image-steps-take" src= "{% static 'geonode/img/TA04.png' %}">
		</div>                              
		<div class= "col-md-6 offset-md-5 font-steps-take-action">
			<span >
			{% trans "Formalize the commitment with stakeholders (if necessary). Once you determine the interest of the landowners in implementing Nature-Based Solutions on their properties, we recommend formalizing your commitment to maintain these actions over time.  " %}
			</span>	
		</div>				
	</div>	
	</section>
	<section>	
	<div class="col-md-12">
		<div class="col-md-5">
			<img class="image-steps-take" src= "{% static 'geonode/img/TA05.png' %}">
		</div>                              
		<div class= "col-md-6 offset-md-5 font-steps-take-action">
			<span >
			{% trans "Implement Nature-Based Solutions. Now that you have the resources, capabilities, commitments, and partnerships, it's time to implement Nature Based Solutions in your portfolio. You can decide to do it yourself or look for entities or individuals with the expertise and ability to do it. In this step, we recommend using local capacities to strengthen them and generate economic opportunities in the watersheds.   " %}
			</span>	
		</div>				
	</div>	
	</section>
	<section>	
	<div class="col-md-12">
		<div class="col-md-5">
			<img class="image-steps-take" src= "{% static 'geonode/img/TA06.png' %}">
		</div>                              
		<div class= "col-md-6 offset-md-5 font-steps-take-action">
			<span>
			{% trans "Monitor implementation. It is very important to monitor the implementation of Nature-Based Solutions over time and carry out maintenance actions on these, to ensure that the vegetation grows properly and the conditions we expect occur. We also recommend working and maintaining communication with the landowners and communities in the watersheds to strengthen governance and encourage others to participate.   " %}
			</span>	
		</div>				
	</div>	
	</section>
	<section>	
	<div class="col-md-12">
		<div class="col-md-5">
			<img class="image-steps-take" src= "{% static 'geonode/img/TA07.png' %}">
		</div>                              
		<div class= "col-md-6 offset-md-5 font-steps-take-action">
			<span >
			{% trans "Track Nature-Based Solutions. To determine whether the implementation of the portfolio of Nature-Based Solutions has the expected results, it is necessary to do follow-up or monitoring. " %}
			</span>	
		</div>				
	</div>	
	</section>
	<section>	
	<div class="col-md-12">
		<div class="col-md-5">
			<img class="image-steps-take" src= "{% static 'geonode/img/TA08.png' %}">
		</div>                              
		<div class= "col-md-6 offset-md-5 font-steps-take-action">
			<span >
			{% trans "Evaluate, learn and update your portfolio. This is the last step of the cycle and seeks to evaluate the experiences, the observed results and learnings, to determine if the expected results are being achieved or if adjustments to the objectives or assumptions should be made. In this step, you may be interested in updating the portfolio of Nature-Based Solutions. " %}
			</span>	
		</div>				
	</div>
	</section>	
	
</section>	
	

<section>
	<div class="row"></div>
		<div class= "background-take-bot">
			<h1> {% trans "Who can help you?" %} </h1>
		</div>
		<div class="row" style="height:30px;">
		</div>		
	</div>
		<div class= "row">
		</div>
		<div class= "col-md-12 text-justify">
			<div class="col-md-5 " style="margin-left: 5%;">
				<div class= "row">
					<div class= "colorsubtitle align-left-take-action">
						<span> {% trans "What do I need to look for?" %} </span>
					</div>
				</div>					
				<span class=" container ">
				{% trans "Nature-Based Solutions have been implemented around the world for several decades, although this concept is relatively new. Multiple entities and actors have the experience and knowledge to design, implement, maintain and monitor them. Our recommendation is that you seek local allies and partners who have this experience and promote the transfer and capacity building of local communities during the implementation and monitoring of the portfolio." %}
				</span>
				<span class="  container " style="font-weight: bold;">
					{% trans "Possible partners:" %}
					</span>
					<ul>
					<li> {% trans "Academy and ONGs" %} </li>
					<li> {% trans "Consulting firms" %} </li>
					<li> {% trans "Local communities" %} </li>
					<li> {% trans "Governance " %} </li>
					<li> {% trans "mechanisms" %} </li>
					<li> {% trans "Local authorities" %} </li>
					<li> {% trans "Business" %} </li>
					</ul>
			</div>
			<div class="col-md-6 offset-md-6">
				<img class="image-actor-take" src= "{% static 'geonode/img/TA_actor.png' %}">
			</div>
			<div class="col-md-5 ">
				
			</div>
		</div>
			
	<div class="row" style="height:30px;">
	</div>
</section>
<section>
	<div class ="row">
		<div class=" take-action-middle-tittle col-md-12 text-center" >
			<h2>{% trans "Suggested profiles and capacities for the implementation team:" %}</h2>
		</div>
		<div class="col-md-12 align-complete-take" style="padding-bottom: 5%;">
			<span >{% trans "In the following, we will guide you with the type of profiles, technical capabilities, skills and experience, which we suggest the group of people working on the implementation of the portfolio of Nature-Based Solutions should meet. Depending on the context you are in, the area to be intervened and the size of your portfolio, the number of people you need to implement it may be larger or smaller. Remember that this team must ensure  proper implementation of the various solutions considered in the portfolio, the maintenance of the actions and their follow-up. In this sense, we recommend that you choose these teams in the same regional or local context where the portfolio will be implemented. Knowledge of the dynamics of vegetation and local conditions are an essential element for the success of the portfolio" %}
			</span>
		</div>
	</div>
</section>	
<section>
	<div class="row">
		<section>	
			<div class="col-md-12">
				<div class="col-md-5">
					<img class="image-user-take" src= "{% static 'geonode/img/user1.png' %}">
				</div>                              
				<div class= "col-md-6 offset-md-5 font-image-take-action  ">
					<span class="text-justify">
					{% trans "Partnership manager: Socializes the portfolio and identifies opportunities with key entities and actors to leverage efforts and resources that facilitate and accelerate the implementation of actions. The impact of good management can bring great benefits. Do not underestimate this potential. " %}
					</span>	
				</div>				
			</div>	
		</section>
		<section>	
			<div class="col-md-12">
				<div class="col-md-5">
					<img class="image-user-take" src= "{% static 'geonode/img/user2.png' %}">
				</div>                              
				<div class= "col-md-6 offset-md-5 font-image-take-action ">
					<span class="text-justify">
					{% trans "Lawyer: Structures the agreements with owners (public and private) to formalize their commitment to maintain these actions over time. Lawyer: Structures the agreements with owners (public and private) to formalize their commitment to maintain these actions over time.  " %}
					</span>	
				</div>				
			</div>	
		</section>
		<section>
		<section>	
			<div class="col-md-12">
				<div class="col-md-5">
					<img class="image-user-take" src= "{% static 'geonode/img/user3.png' %}">
				</div>                              
				<div class= "col-md-6 offset-md-5 font-image-take-action ">
					<span class="text-justify">
					{% trans "Extension technician: Identifies and establishes communication with interested landowners to reach agreements with them on the implementation of Nature-Based Solutions in each property (signing of agreements). " %}
					</span>	
				</div>				
			</div>	
		</section>
		<section>	
			<div class="col-md-12">
				<div class="col-md-5">
					<img class="image-user-take" src= "{% static 'geonode/img/user4.png' %}">
				</div>                              
				<div class= "col-md-6 offset-md-5 font-image-take-action ">
					<span class="text-justify">
					{% trans "Director of the implementing team: Structures the projects to implement the portfolio of Nature-Based Solutions and maintains the actions. He/she must structure the budget (materials, tools, logistics, personnel, travel expenses, equipment and everything necessary for the implementation of the actions and their maintenance), hire and train the staff of the implementation team, and direct and supervise the implementations and maintenance in field. This is one of the most important profiles, this person must have experience implementing actions for the preservation and restoration of natural ecosystems and sustainable management of productive systems as well as the management of personnel in the field, hopefully in the same regional context.  " %}
					</span>	
				</div>				
			</div>	
		</section>
		<section>	
			<div class="col-md-12">
				<div class="col-md-5">
					<img class="image-user-take" src= "{% static 'geonode/img/user5.png' %}">
				</div>                              
				<div class= "col-md-6 offset-md-5 font-image-take-action ">
					<span class="text-justify">
					{% trans "Implementing team staff: They implement Nature-Based Solutions. Ideally, they should have experience in implementing these types of actions, but they can be people from local communities or volunteers who are trained to carry out these activities. We recommend that you take advantage of all the opportunities you identify to partner with other implementation partners and promote the strengthening of local communities.  " %}
					</span>	
				</div>				
			</div>	
		</section>
		<section>	
			<div class="col-md-12">
				<div class="col-md-5">
					<img class="image-user-take" src= "{% static 'geonode/img/user6.png' %}">
				</div>                              
				<div class= "col-md-6 offset-md-5 font-image-take-action ">
					<span class="text-justify">
					{% trans "Director of the monitoring and evaluation team: Structures and develops the monitoring of Nature-Based Solutions in order to quantify progress towards meeting the goals defined for the portfolio. It may be oriented exclusively towards the monitoring of indicators defined in the return on investment analysis or include indicators of biophysical aspects. He / she must structure the budget for supervising, hire and train the monitoring team staff, and direct and supervise these activities in the field. He / she must also define and develop the analyses and generate the evaluation reports.  " %}
					</span>	
				</div>				
			</div>	
		</section>
		<section>	
			<div class="col-md-12">
				<div class="col-md-5">
					<img class="image-user-take" src= "{% static 'geonode/img/user7.png' %}">
				</div>                              
				<div class= "col-md-6 offset-md-5 font-image-take-action ">
					<span class=" text-justify">
					{% trans "Monitoring and evaluation team staff: They implement Nature-Based Solutions portfolio monitoring. Ideally, they should have experience in monitoring and some of the activities may be carried out only with qualified personnel, but the monitoring may include activities carried out by people from local communities or trained volunteers. We recommend that you take advantage of all the opportunities you identify to associate with other implementation partners and promote the empowerment of local communities." %}
					</span>	
				</div>				
			</div>	
		</section>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-md-12 ">
			<div class=" take-action-middle-tittle col-md-12 text-center" >
				<h2>{% trans "Here you can find tools, case study references, trainings, methodologies and other useful resources:" %}</h2>
			</div>
			<div class="align-left-take-action">
				{% trans "Monitoring and evaluation team"%}<a href="https://waterfundstoolbox.org/">"https://waterfundstoolbox.org/"</a> <div class="row"></div>
				{% trans "Conservation Gateway "%}<a href=" https://www.conservationgateway.org/ConservationPractices /Freshwater/FinancialSolutions/TypesofFinancialSolutions/WaterFunds/Pages/water-funds.aspx">" https://www.conservationgateway.org/ConservationPractices"</a> <div class="row"></div>
				{% trans "Conservation training "%}<a href=" https://www.conservationtraining.org/course/index.php?categoryid=2 ">" https://www.conservationtraining.org/course/index.php?categoryid=2 "</a> <div class="row"></div>
				<a href="https://www.ipcc.ch/"></a><div class="row"></div>
				<a href="https://www.un.org/es/climatechange">https://www.ipcc.ch/</a><div class="row"></div>
				<a href="https://www.undp.org/content/undp/es/home/sustainable-development-goals/goal-13 -climate-action.html">https://www.undp.org/content/undp/es/home/sustainable-development-goals/goal-13 -climate-action.html</a><div class="row"></div>
				<a href="https://actionlac.net/faq/">https://actionlac.net/faq/</a><div class="row"></div>
				<a href="https://www.nature.org/es-us/que-hacemos/nuestra-vision/perspectivas/guia-practica-accion-climatica/">https://www.nature.org/es-us/que-hacemos/nuestra-vision/perspectivas/guia-practica-accion-climatica/</a><div class="row"></div>
				<a href="https: //nature4climate.org/">https: //nature4climate.org/</a><div class="row"></div>
				<a href="https://www.pnas.org/content/114/44/11645 ">https://www.pnas.org/content/114/44/11645</a><div class="row"></div>
				<a href="https://www.nature.org/en-us/what-we-do/our-insights/perspectives/natural-climate-solutions/">https://www.nature.org/en-us/what-we-do/our-insights/perspectives/natural-climate-solutions/</a><div class="row"></div>
				<a href="http://naturalclimatesolutions.org/">http://naturalclimatesolutions.org/</a><div class="row"></div>
				<a href="https://nature4climate.org/about/ Purpose /">https://nature4climate.org/about/ Purpose /</a><div class="row"></div>
				<a href="https://www.cbd.int/">https://www.cbd.int/</a><div class="row"></div>
			</div>
			<div class=" take-action-middle-tittle col-md-12 text-center" >
				<h2>{% trans "Here you can find references to platforms, communities of practice and collaborative alliances:" %}</h2>
			</div>
			<div class="align-left-take-action">
				{% trans "WaterFundsToolbox "%}<a href="https://waterfundstoolbox.org/">"https://waterfundstoolbox.org/"</a> <div class="row"></div>
				{% trans "WaterFunds Network "%}<a href=" https://thenatureconservancy462.sharepoint.com/ sites / Conservation / practices / waterfunds / Pages / ABOUT.aspx">" https://thenatureconservancy462.sharepoint.com/ sites / Conservation / practices / waterfunds / Pages / ABOUT.aspx"</a> <div class="row"></div>
				{% trans "Water Funds. Colombia "%}<a href="https://www.nature.org/en-us/about-us/where-we-work/latin-america/colombia/stories-in-colombia/colombia-water/  ">" https://www.nature.org/en-us/about-us/where-we-work/latin-america/colombia/stories-in-colombia/colombia-water/ "</a> <div class="row"></div>
				{% trans "Fondos de Agua LAR "%}<a href="https: // www. nature.org/en-us/about-us/where-we-work/latin-america/stories-in-latin-america/water-funds-of-south-america/  ">"https: // www. nature.org/en-us/about-us/where-we-work/latin-america/stories-in-latin-america/water-funds-of-south-america/  "</a> <div class="row"></div>
				{% trans "Latin American Alliance of Water Funds "%}<a href="https://www.fondosdeagua.org/es/ ">"https://www.fondosdeagua.org/es/ "</a> <div class="row"></div>
				{% trans "Water Integrity Network "%}<a href="https://www.waterintegritynetwork.net/about/   ">"https://www.waterintegritynetwork.net/about/   "</a> <div class="row"></div>

			</div>
		</div>
	</div>
</section>
{% endblock %}
