{% load i18n %}
<!--Modal Help - Geom Files-->
<div class="modal fade" id="HelpModal" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" value="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="HelpModalLabel">{% trans "Geom files help" %}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ol>
                            <li value="1">{% trans "Only zip and GeoJSON1"%}</li>
                            <li>{% trans "Only EPSG1"%}</li>
                            <li>{% trans "Max upload size1" %}</li>
                        </ol>
                    </div>
                </div>
                <div>
                    <img style="margin: 10px auto 10px; display: block; width: 100%; height: 100%;" src="/static/geonode/img/CreateSBN_4.png"></img>
                </div>
                <div class="modal-footer">
                    <button type="button" value="close" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
