{% extends "menu.html" %} {% load i18n %} {% load l10n %}{% load bootstrap_tags %}{% load decimal_format %}{% load multiply_factor %} {% block extra_head %} {% endblock %} {% block body_outer %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/bootstrap-duallistbox.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="header-waterproof">
    <div class="page-header">
        <h1>{% trans "Clone Nature based solution (NBS)" %}
            <button type="button" data-toggle="modal" data-target="#HelpClone" id="HelpModalBtnModal" class="glyphicon glyphicon-question-sign" aria-hidden="true" style="outline:none; text-decoration:none; color: #0977ca; border-style: none; background-color:transparent;"></button> 
        </h1>
        {% if user.professional_role == 'ADMIN' %}
            <h3>{% trans "Global USA based" %}</h3>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center" id="countryLabel">{{country.name}}</h4>
            <p><b>{% trans "Region:" %}</b> <span id="regionLabel">{{region.name}}</span> </p>
            <p><b>{% trans "Currency:" %}</b><span id="currencyLabel">({{currency.currency}}) - {{currency.name}}</span></p>
        </div>
        <div class="col-md-8">
            <div id="mapid" style="width: 700px; height: 200px;"></div>

        </div>
    </div>
    <form id="form" data-toggle="validator" role="form" action="">
        <h4 class="text-primary">{% trans "General Settings" %}</h4>
        <div class="form-group">
            <label>{% trans "Name" %} <span class="text-danger-wp">(*)</span> </label>
            <input type="text" value='{{ nbs.name }}_{% trans "Cloned" %}' class="form-control" id="nameNBS" name="nameNBS" data-error="This field is required" placeholder="Enter title" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label>{% trans "Description" %} <span class="text-danger-wp">(*)</span> </label>
            <textarea id="descNBS" class="form-control" placeholder="Enter description" data-error="This field is required" rows="4" required>{{ nbs.description }}</textarea>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>{% trans "Country" %} <span class="text-danger-wp">(*)</span> </label>
                    <select id="countryNBS" {{countryEnable}} class="form-control" data-error="This field is required" required>
                        {% for country in countries %}
                        {% if nbs.country.pk == country.pk %}
                        <option value="{{country.pk}}" data-value="{{country.iso3}}" selected>{{country.name}}</option>
                        {% else %}
                        <option value="{{country.pk}}" data-value="{{country.iso3}}">{{country.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-md-6">
                    <label>{% trans "Currency for definition of costs" %} <span class="text-danger-wp">(*)</span> </label>
                    <select id="currencyCost" {{countryEnable}} class="form-control" data-error="This field is required" required>
                        {% for currency in currencies %}
                        {% if nbs.currency.pk == currency.pk%}
                        <option value="{{currency.pk}}" data-country="{{currency.iso3}}" selected>({{currency.currency}}) - {{currency.name}}</option>
                        {% else %}
                        <option value="{{currency.pk}}" data-country="{{currency.iso3}}">({{currency.currency}}) - {{currency.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>{% trans "Time required to generate maximun benefit (yr)" %} <span
                            class="text-danger-wp">(*)</span> </label>
                    <input id="maxBenefitTime" value="{{nbs.max_benefit_req_time}}" onInput="return checkTime(event,value)" type="text" class="form-control" data-error='{% trans "Field is required" %}' required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-md-6">
                    <label>{% trans "Percentage of benefit associated with interventions at time t=0" %} <span
                            class="text-danger-wp">(*)</span> </label>
                    <input id="benefitTimePorc" type="text" value="{{nbs.profit_pct_time_inter_assoc|decimalFormat:2}}" onInput="return checkPercentage(event,value)" class="form-control" data-error='{% trans "Field is required" %}' required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>{% trans "Periodicity of maintenance (yr)" %} <span class="text-danger-wp">(*)</span> </label>
                    <input id="maintenancePeriod" value="{{ nbs.periodicity_maitenance }}" onInput="return checkTime(event,value)" type="text" class="form-control" data-error='{% trans "Field is required" %}' required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <h4 class="text-primary">{% trans "Unit costs" %}</h4>
        <div class="form-group">
            <div class="row">
                {% if user.professional_role == 'ANALYS' and nbs.added_by.professional_role == 'ADMIN' %}
                    <div class="col-md-4">
                        <label id="implementCostLabel">{% trans "Implementation cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                        <input id="implementCost" value="{{ nbs.unit_implementation_cost|multiplyFactor:userCountry.global_multiplier_factor|decimalFormat:2 }}" type="text" onInput="return checkDecimalFormat(event,value)" 
                        class="form-control" data-error='{% trans "Field is required" %}' required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="col-md-4">
                        <label id="maintenanceCostLabel">{% trans "Maintenace cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                        <input id="maintenanceCost" value="{{ nbs.unit_maintenance_cost|multiplyFactor:userCountry.global_multiplier_factor|decimalFormat:2 }}" type="text" onInput="return checkDecimalFormat(event,value)" 
                        class="form-control" data-error='{% trans "Field is required" %}' required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="col-md-4">
                        <label id="oportunityCostLabel">{% trans "Oportunity cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                        <input id="oportunityCost" value="{{ nbs.unit_oportunity_cost|multiplyFactor:userCountry.global_multiplier_factor|decimalFormat:2 }}" type="text" onInput="return checkDecimalFormat(event,value)"  class="form-control" data-error='{% trans "Field is required" %}' required>
                        <div class="help-block with-errors"></div>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <label id="implementCostLabel">{% trans "Implementation cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                        <input id="implementCost" value="{{ nbs.unit_implementation_cost|decimalFormat:2}}" type="text" onInput="return checkDecimalFormat(event,value)" 
                        class="form-control" data-error='{% trans "Field is required" %}' required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="col-md-4">
                        <label id="maintenanceCostLabel">{% trans "Maintenace cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                        <input id="maintenanceCost" value="{{ nbs.unit_maintenance_cost| decimalFormat:2 }}" type="text" onInput="return checkDecimalFormat(event,value)" 
                        class="form-control" data-error='{% trans "Field is required" %}' required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="col-md-4">
                        <label id="oportunityCostLabel">{% trans "Oportunity cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                        <input id="oportunityCost" value="{{ nbs.unit_oportunity_cost|decimalFormat:2 }}" type="text" onInput="return checkDecimalFormat(event,value)"  class="form-control" data-error='{% trans "Field is required" %}' required>
                        <div class="help-block with-errors"></div>
                    </div>
                {% endif %}
            </div>
        </div>
        <h4 class="text-primary">{% trans "RIOS Transition" %}</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <select id="riosTransition" class="form-control" data-error="This field is required" required>
                        {% for transition in transitions %}
                        {% if transition.pk == selectedTransition.pk %}
                        <option value="{{transition.pk}}" selected>{{transition.name}}</option>
                        {% else %}
                        <option value="{{transition.pk}}">{{transition.name}}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {% for tran in transitions %}
                <div class="col-md-12" id="selectlanduse{{tran.pk}}" name="selectlanduse" data-value="{{tran.pk}}"
                    style="display: none;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h5>{% trans "LAND USE / LAND COVER WHERE THE ACTIVITY CAN BE IMPLEMENTED" %}</h5>
                                </th>
                                <th>
                                    <h5>{% trans "LAND USE / LAND COVER TRANSFORMED" %}</h5>
                                </th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            {% for riosa in riosActivity %} 
                                {% if tran.pk == riosa.transition_id %}
                                <tr>
                                    <td style="vertical-align: inherit; width: 50%;">
                                        <h5>{{ riosa.name }}</h5>
                                    </td>
                                    <td>
                                    {% for riost in riosTransformation %} 
                                        {% if riosa.pk == riost.activity_id %}
                                        <div class="checkbox">
                                            {% if riost.id in selectedTransf %}
                                                <label><input data-value="itemRT" name="{{riosa.name}}_{{itemRT}}" type="radio"
                                                    id="itemRT{{riost.pk}}" value="{{ riost.pk }}" checked> {{riost.name}}</label>
                                            {% else %}
                                                <label><input data-value="itemRT" name="{{riosa.name}}_{{itemRT}}" type="radio"
                                                    id="itemRT{{riost.pk}}" value="{{ riost.pk }}" > {{riost.name}}</label>
                                            {% endif %}
                                        </div>
                                        {% endif %} 
                                    {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <!-- Rounded switch -->
            <label>{% trans "Load new restricted area" %}</label>
            <label class="switch">
                <input type="checkbox" id="loadArea">
                <span class="slider round"></span>
            </label>
            <div class="row" style="display:none" id="areas">
                <div class="col-md-4">
                    <div class="col-md-12">
                        <label>{% trans "Restricted areas" %}</label>
                        <p>{% trans "If there are areas with restrictions for the implementation of the NbS, attach them to the form through a geographic file by clicking on the following button." %}</p>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#HelpModal" id="HelpModalBtnModal" style="outline:none; text-decoration:none;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "Help"
                            %}</button>
                        </button>
                    </div>
                    <input id="restrictedArea" type="file">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <br>
        <input type="hidden" value="{{nbs.pk}}" id="sbnId">
        <button type="submit" id="submit" class="btn btn-primary ">{% trans "Save" %}</button>
    </form>
</div>
<!--Modal Help-->
<div class="modal fade" id="HelpModal" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="HelpModalLabel">{% trans "Geom files help" %}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ol>
                            <li value="1">{% trans "Only zip and GeoJSON"%}</li>
                            <li>{% trans "Only EPSG"%}</li>
                            <li>{% trans "Max upload size" %}</li>
                        </ol>
                    </div>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Help Clone-->
<div class="modal fade" id="HelpClone" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="HelpModalLabel" style="color:#6398C1 ;">{% trans "Clone Nature based solution (NBS)" %}</h3>
            </div>
            <div class="modal-body">
                <p>
                    {%  trans "You can create a Nature-based Solution by entering your name, description, data about your implementation and maintenance costs, among others. However, you should pay special attention in the Coverage / land use transitions section, as the coverage changes that WaterProof will take into account for the generation of NBS portfolios, modeling and analysis of return on investment are configured there."  %}
                </p>
                <img style="margin: 10px auto 10px; display: block; width: 100%; height: 100%;" src="/static/geonode/img/CreateSBN_1.png"></img>
                <p>
                    {% trans "Once you select the transition of your interest, you must indicate the changes in the coverage that you hope to achieve:" %} 
                </p>
                <img style="margin: 10px auto 10px; display: block; width: 100%; height: 100%;" src="/static/geonode/img/CreateSBN_2.png"></img>
                <p>
                    {% trans "Finally, you can attach a shapefile where you indicate areas where the implementation of the created NbS is avoided:" %} 
                </p>
                <img style="margin: 10px auto 10px; display: block; width: 100%; height: 100%;" src="/static/geonode/img/CreateSBN_3.png"></img>
                <p>
                    {% trans "Note that the shapefile must have 2 attributes which are required for RiOS to interpret the information:" %} 
                    <li>
                        {% trans "activity_n: This field must contain the exact name of the activity that has been defined in the system (this refers to the csv file of parameters that enters RIOS and that the system arms according to what is selected by the user)." %} 
                    </li>
                    <li>
                        {% trans "Action: This field is of type text and only admits two options: 1) prevent if you want to restrict an activity in that area or 2) prefer if you want to give priority to the activity in that area." %} 
                    </li>
                </p>
                <p>
                    {% trans "The system will verify that the polygon is within the watershed area and that it meets the coordinate standard. EPSG 3857 (world standard for flat coordinates) or EPSG 4326 (world standard for geographic coordinates)." %} 
                </p>
                <p>
                    {% trans "Files are accepted only in compressed .zip format whose required structure must contain at least: 1 .shp file, 1 .dbf file, 1 .prj file and 1 .shx file." %} 
                </p>
                <div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: white; background-color: #6398C1;">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var token = '{{ csrf_token }}';
    var countryNbs = '{{ sbn.country.pk }}';
    var currencyNbs = '{{ sbn.currency.pk }}';
    var countriesLayerUrl = '{{ STATIC_URL }}waterproof_nbs_ca/data/countries.geojson';
    var userCountryId = '{{userCountry.id}}';
    var userCountryCode = '{{userCountry.iso3}}';
    var userCountryName = '{{userCountry.name}}';
    var countryId = '{{country.id}}';
    var realImplemCost='{{nbs.unit_implementation_cost}}';
    var realOportCost='{{nbs.unit_oportunity_cost}}';
    var realMaintCost='{{nbs.unit_maintenance_cost}}';
    var factorMaintCost='{{ nbs.unit_maintenance_cost|multiplyFactor:userCountry.global_multiplier_factor|decimalFormat:2 }}';
    var factorImplemCost='{{ nbs.unit_implementation_cost|multiplyFactor:userCountry.global_multiplier_factor|decimalFormat:2}}';
    var factorOportCost='{{ nbs.unit_oportunity_cost|multiplyFactor:userCountry.global_multiplier_factor|decimalFormat:2 }}';
    var globalBaseCost=false;
</script>
{% if user.professional_role == 'ADMIN' %}
    <script>
         var countryId = '{{usaCountry.id}}';
         var disableMap=true;
    </script>
{% elif user.professional_role == 'ANALYS' and nbs.added_by.professional_role == 'ADMIN' %}
    <script>
        var globalBaseCost=true;
    </script>
{% else %}
    <script>
        var disableMap=false;
        var countryId = '{{country.id}}';
    </script>
{% endif %}
{% endblock body_outer %} {% block extra_script %}
<script src="{{ STATIC_URL }}geonode/js/waterproof/geomFile_validate.js"></script>
<!--ZIP reader library-->
<script src="{{ STATIC_URL }}geonode/js/jszip/jszip.min.js"></script>
<!--Shapefile reader library -->
<script src="{{ STATIC_URL }}geonode/js/shp/shp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha512-dTu0vJs5ndrd3kPwnYixvOCsvef5SGYW/zSSK4bcjRBcZHzqThq7pt7PmCv55yb8iBvni0TSeIDV8RYKjZL36A==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/leaflet.ajax.min.js"></script>
<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/waterproof_nbs_ca_clone.js"></script>
{% endblock %}