{% extends "menu.html" %} {% load i18n %} {% load bootstrap_tags %} 
{% block extra_head %}

{% endblock %}
{% block body_outer %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-center" id="countryLabel">{{country.name}}</h4>
        <p><b>{% trans "Region:" %}</b> <span id="regionLabel">{{region.name}}</span> </p>
        <p><b>{% trans "Currency:" %}</b><span id="currencyLabel">({{currency.code}}) - {{currency.name}}</span></p>
    </div>
    <div class="col-md-8">
        <div id="mapid" style="width: 700px; height: 200px;"></div>

    </div>
</div>
<div class="page-header">
    
    <h1>{% trans "Create Nature based solution (NBS)" %}</h1>
    {% if user.professional_role == 'ADMIN' %}
        <h3>{% trans "Global USA based" %}</h3>
    {% endif %}
</div>
<form id="form" data-toggle="validator" role="form" action="">
    <h4 class="text-primary">{% trans "General Settings" %}</h4>
    <div class="form-group">
        <label>{% trans "Name" %} <span class="text-danger-wp">(*)</span> </label>
        <input type="text" class="form-control" id="nameNBS" data-error='{% trans "Field is required" %}'
            placeholder="Enter title" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label>{% trans "Description" %} <span class="text-danger-wp">(*)</span> </label>
        <textarea id="descNBS" class="form-control" data-error='{% trans "Field is required" %}' rows="4"
            required></textarea>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>{% trans "Country" %} <span class="text-danger-wp">(*)</span> </label>
                <select id="countryNBS" class="form-control" {{countryEnable}} data-error='{% trans "Field is required" %}' required>
                    {% for country in countries %}
                        <option value="{{country.pk}}" data-value="{{country.code}}">{{country.name}}</option>
                    {% endfor %}
                </select>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-6">
                <label>{% trans "Currency for definition of costs" %} <span class="text-danger-wp">(*)</span> </label>
                <select id="currencyCost" class="form-control" {{countryEnable}} data-error='{% trans "Field is required" %}' required>
                    {% for currency in currencies %}
                        <option value="{{currency.pk}}">({{currency.code}}) - {{currency.name}}</option>
                    {% endfor %}
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>{% trans "Time required to generate maximun benefit (yr)" %} <span class="text-danger-wp">(*)</span> </label>
                <input id="maxBenefitTime"  onInput="return checkTime(event,value)"
                type="text"  class="form-control" data-error='{% trans "Field is required" %}' required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-6">
                <label>{% trans "Percentage of benefit associated with interventions at time t=0" %} <span
                        class="text-danger-wp">(*)</span> </label>
                <input id="benefitTimePorc" type="text"  onInput="return checkPercentage(event,value)" 
                class="form-control" data-error='{% trans "Field is required" %}' required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>{% trans "Periodicity of maintenance (yr)" %} <span class="text-danger-wp">(*)</span> </label>
                <input id="maintenancePeriod"  onInput="return checkTime(event,value)"
                type="text" class="form-control" data-error='{% trans "Field is required" %}' required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <h4 class="text-primary">{% trans "Unit costs" %}</h4>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label id="implementCostLabel">{% trans "Implementation cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                <input id="implementCost"  type="text" onInput="return checkDecimalFormat(event,value)" 
                class="form-control" data-error='{% trans "Field is required" %}' required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-4">
                <label id="maintenanceCostLabel">{% trans "Maintenace cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                <input id="maintenanceCost"  type="text" onInput="return checkDecimalFormat(event,value)" 
                class="form-control" data-error='{% trans "Field is required" %}' required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-4">
                <label id="oportunityCostLabel">{% trans "Oportunity cost (US$/ha)" %} <span class="text-danger-wp">(*)</span> </label>
                <input id="oportunityCost" type="text" onInput="return checkDecimalFormat(event,value)"  class="form-control" data-error='{% trans "Field is required" %}' required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <h4 class="text-primary">{% trans "RIOS Transition" %}</h4>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <select id="riosTransition" class="form-control" data-error='{% trans "Field is required" %}' required>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <h4 class="text-primary">{% trans "LAND USE" %}<span style="margin-left: 40%;">{% trans "LAND COVER CHANGE DEFINITION" %}</span></h4>
    <div class="form-group">
        <div class="row">
            {% for tran in transitions %}
            <div class="col-md-12" id="selectlanduse{{tran.pk}}" name="selectlanduse" data-value="{{tran.pk}}"
                style="display: none;">
                {% for riosa in riosActivity %} {% if tran.pk == riosa.transition_id %}
                <div class="row">
                    <div class="col-md-6 borde"><h5>{{ riosa.name }}</h5></div>
                
                    {% for riost in riosTransformation %} {% if riosa.pk == riost.activity_id %}
                    <div class="col-md-6 checkbox tablacheck">
                        {% if forloop.first %}
                        <label><input data-value="itemRT" name="{{riosa.name}}_{{itemRT}}" type="radio"
                                id="itemRT{{riost.pk}}" value="{{ riost.pk }}" checked> {{riost.name}}</label>
                        {% else %}
                        <label><input data-value="itemRT" name="{{riosa.name}}_{{itemRT}}" type="radio"
                            id="itemRT{{riost.pk}}" value="{{ riost.pk }}" > {{riost.name}}</label>
                        {% endif %}
                    </div>
                
                    {% endif %} {% endfor %}
                </div> {% endif %} {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>{% trans "Restricted areas" %} </label>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#HelpModal" id="HelpModalBtnModal" style="outline:none; text-decoration:none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "Help" %}</button>
                    </button>
                </div>
                <input id="restrictedArea" type="file">
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <br>
    <button id="submit" type="submit" class="btn btn-primary ">{% trans "Save" %}</button>

</form>

<!--Modal Help-->
<div class="modal fade" id="HelpModal" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="HelpModalLabel">{% trans "Geom files help" %}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ol>
                            <li value="1">{% trans "Only zip and GeoJSON"%}</li>
                            <li>{% trans "Only EPSG"%}</li>
                            <li>{% trans "Max upload size" %}</li>
                        </ol>
                    </div>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_script %}
<script src="{{ STATIC_URL }}geonode/js/waterproof/geomFile_validate.js"></script>
<!--ZIP reader library-->
<script src="{{ STATIC_URL }}geonode/js/jszip/jszip.min.js"></script>
<!--Shapefile reader library -->
<script src="{{ STATIC_URL }}geonode/js/shp/shp.min.js"></script>
<script>
    var token = '{{ csrf_token }}';
    var countriesLayerUrl = '{{ STATIC_URL }}waterproof_nbs_ca/data/countries.geojson';
</script>
{% if user.professional_role == 'ADMIN' %}
    <script>
         var countryId = '{{usaCountry.id}}';
         var disableMap=true;
    </script>
{% else %}
    <script>
        var disableMap=false;
        var countryId = '{{country.id}}';
    </script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"
    integrity="sha512-dTu0vJs5ndrd3kPwnYixvOCsvef5SGYW/zSSK4bcjRBcZHzqThq7pt7PmCv55yb8iBvni0TSeIDV8RYKjZL36A=="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/leaflet.ajax.min.js"></script>

<script src="{{ STATIC_URL }}waterproof_nbs_ca/js/waterproof_nbs_ca.js"></script>
{% endblock %}