{% extends "menu.html" %}
{% load i18n %}
{% block title %}{% trans "Water Intakes" %}{% endblock %}
{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
<h1>{% trans "Water Intakes" %}</h1>

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}lib/css/leaflet.css"/>
<link rel="stylesheet" href="{% static "geonode/css/leaflet/leaflet.defaultextent.css" %}">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" href="{% static "geonode/css/sidenav.css" %}"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css"/>

{% endblock %}

{% block body_outer %}


<div class="header-waterproof">    
    <div class="row">
        <div class="col-md-8">
            <div id="map"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="map-left"/>
        </div>
        <div class="col-md-6">
            <div id="map-right"/>
        </div>
    </div>
</div>


{% block body %}{% endblock body %} {% block sidebar %}{% endblock sidebar %} {% endblock body_outer %} {% block extra_script %}
<script src="{% static "lib/js/leaflet.js" %}"></script>
<script src="{% static "geonode/js/leaflet/leaflet.defaultextent.js" %}"></script>
<script src=" {{ STATIC_URL }}geonode/js/leaflet/leaflet-omnivore.min.js "></script>
<script src=" {{ STATIC_URL }}geonode/js/leaflet/leaflet-side-by-side.min.js "></script>

<script type=" text/javascript ">
    var map = L.map('map').setView([2.2, -75.8], 10);
    map.createPane('left');
    map.createPane('right');

    var osmLayer = L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap<\/a> contributors'
    }).addTo(map);

    var stamenLayer = L.tileLayer('https://opentopomap.org/{z}/{x}/{y}.png', {
        attribution:
            'Map tiles by <a href="https://opentopomap.org">Open Topomapn<\/a>, ' +
            '<a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0<\/a> &mdash; ' +
            'Map data {attribution.OpenStreetMap}',
        minZoom: 1,
        maxZoom: 16
    }).addTo(map)

    const rasterLayerURL1 = "https://dev.skaphe.com/outputs/1000_-1_2021-7-10/WI_332/out/01-INVEST_QUALITY/NDR/YEAR_0/p_export_SA_1_wgs_84.tif";
    const plottyRenderer1 = L.LeafletGeotiff.plotty({
        displayMin: 0,
        displayMax: 80,
        clampLow: false,
        clampHigh: false,
        colorScale: 'turbo'
    });
    const rasterLyr1 = L.leafletGeotiff(rasterLayerURL1, {
        renderer: plottyRenderer1
    }).addTo(map);

    const plottyRenderer2 = L.LeafletGeotiff.plotty({
        displayMin: 0,
        displayMax: 80,
        clampLow: false,
        clampHigh: false,
        colorScale: 'winter'
    });
    const rasterLyr2 = L.leafletGeotiff(rasterLayerURL1, {
        renderer: plottyRenderer2
    }).addTo(map);

    var baseLayers = {
        
    };
    
    var overlays = {
        "rasterLyr1": rasterLyr1,
        "rasterLyr2": rasterLyr2, 
    };

    L.control.sideBySide(rasterLyr1, rasterLyr2).addTo(map);    
    L.control.layers(baseLayers, overlays).addTo(map);




</script>
{% endblock %}