{% extends "menu.html" %} {% load i18n %} {% load static from staticfiles %}
{%load bootstrap_tags %} {% block extra_head %}
<link href="https://unpkg.com/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/leaflet/Control.Coordinates.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/leaflet/Control.Loader.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}study_cases/mathquill/mathquill.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}study_cases/css/study_cases.css" />
{% endblock %} {% block body_outer %}
<!--header-->
<div class="header-waterproof">
    <div class="row">
        <div class="col-sm-6">
            <h1>{% trans "Create Study Cases" %}</h1>
        </div>
        <div class="col-sm-6">
            <h5>{% trans "Creation city" %} : <span id="cityLabel"></span> </h5>
        </div>        
    </div>
    <br>
    <!--Begin Form-->
    <form id="form" method="POST" action="">
        {% csrf_token %}
        <!--Start smartwizard-->
        <div id="smartwizard">
            <!--panel of navigation-->
            <ul class="nav">
                <li>
                    <a class="nav-link" href="#step-1"> {% trans "Define" %} </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-2"> {% trans "Carbon Market " %}</a>
                </li>
                <li>
                    <a class="nav-link" href="#step-3">{% trans "Portfolios" %}</a>
                </li>
                <li>
                    <a class="nav-link" href="#step-4"> {% trans "Modelling Parameters" %}</a>
                </li>
                <li>
                    <a class="nav-link" href="#step-5"> {% trans "Financial Parameters" %}</a>
                </li>
                <li>
                    <a class="nav-link" href="#step-6"> {% trans "NBS/ Conservation activities" %}</a>
                </li>
                <li>
                    <a class="nav-link" href="#step-7"> {% trans "RUN Analysis" %}</a>
                </li>
            </ul>
            <!--Steps-->
            <div class="tab-content" id="autoAdjustHeightF">
                <!--Step 1-->
                <div id="step-1" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3>{% trans "Define Study Case" %}</h3>
                        <p>{% trans "Please complete the fields to define your Study Case" %}</p>
                    </div>
                    <!--Input Name -->
                    <div id="study_case">
                        <div id="div_name" class="form-group">
                            <label for="name" class="control-label required-field">
                                {% trans "Name" %}
                            </label>
                            <div class="">
                                <input type="text" name="name" maxlength="100" class="form-control" id="name" />
                            </div>
                        </div>
                    </div>
                    <!--Input Desc -->
                    <div id="div_description" class="form-group">
                        <label for="description" class="control-label required-field ">
                            {% trans "Description" %}
                        </label>
                        <textarea rows="3" class="form-control" name="description" id="description"></textarea>
                    </div>
    
                    <!--Input Desc -->
                    <div id="div_id_type" class="form-group">
                        <label for="div_id_type" class="control-label required-field ">
                            {% trans "Select type of study case to create" %}
                        </label>
    
                        <div class="form-check panel-hide" id="div-ptaps">
                            <input class="form-check-input" type="radio" name="type" id="ptap" value="1">
                            <label class="form-check-label" for="ptap">
                                {% trans "Treatment plants" %}
                            </label>
                        </div>
                        <div class="alert alert-warning text-center panel-hide" role="alert" id="div-emptyptaps">
                            {% trans "there are no treatment plants in the selected city" %}
                        </div>
                        <div class="form-check panel-hide" id="div-customcase">
                            <input class="form-check-input" type="radio" name="type" id="custom" value="2">
                            <label class="form-check-label" for="custom">
                                {% trans "Custom case" %}
                            </label>
                        </div>
                        <div class="alert alert-danger text-center panel-hide" role="alert" id="div-emptyintakes">
                            <button type="button" class="btn btn-link btn-block" style="outline:none; text-decoration:none;" onclick="window.location.href='/intake/?limit=5'">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "First create a intake" %} </button>
                            </button>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-hide" id="panel-custom">
                                <div class="col-md-12">
                                    <div class="row form-group">
                                        <legend><label>{% trans "Water Intake" %} <span class="text-danger-wp" id="custom-required"></span> </label></legend>
                                        <p>{% trans "Select the intake you want to consider in the ROI Analysis" %}</p>
    
                                        <div class="col-md-9">
                                            <select class="form-control" id="select_custom">
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary" id="add_wi">{% trans "Add WI" %}</button>
                                        </div>
                                    </div>
                                    <table id="custom_table" class="table table-striped table-bordered table-condensed" style="width:100%">
                                        <thead>
                                            <tr class="info">
                                                <th scope="col" class="small text-center vat">{% trans "name" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "description" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "Name of the water source" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "Action" %}</th>
                                            </tr>
    
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
    
                            <div class="panel panel-hide" id="panel-cost">
                                <div class="col-md-12">
                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary" id="add_wi">{% trans "Add cost function" %}</button>
                                        </div>
    
                                    </div>
    
                                    <table id="cost_table" class="table table-striped table-bordered table-condensed panel-hide" style="width:100%">
                                        <thead>
                                            <tr class="info">
                                                <th scope="col" class="small text-center vat">{% trans "Function name" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "Function" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "Currency" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "Factor" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "Options" %}</th>
                                            </tr>
    
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
    
                            <div class="panel panel-hide" id="panel-ptap">
                                <div class="col-md-12">
                                    <div class="row form-group">
                                        <legend><label>{% trans "Treatments plants" %} <span class="text-danger-wp" id="ptap-required"></span> </label></legend>
                                        <p>{% trans "Select the treatment plants you want to consider in the ROI Analysis" %}</p>
    
                                        <div class="col-md-9">
                                            <select class="form-control" id="select_ptap">
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary" id="add_ptap">{% trans "Add Plant" %}</button>
                                        </div>
                                    </div>
                                    <table id="ptap_table" class="table table-striped table-bordered table-condensed" style="width:100%">
                                        <thead>
                                            <tr class="info">
                                                <th scope="col" class="small text-center vat">{% trans "name" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "description" %}</th>
                                                <th scope="col" class="small text-center vat">{% trans "Action" %}</th>
                                            </tr>
    
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="step1NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 2-->
                <div id="step-2" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3>Carbon Market Benefits</h3>
                        <p></p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id='cb_check'>
                            <label class="custom-control-label" for="cb_check">{% trans "Carbon market" %}</label>
                            <p>{% trans "If you wish, WaterProof can consider benefits associated with the Carbon market, click on the following checkbox to include in the analysis" %}</p>
                        </div>
                        <div class="row text-center" id="cm_form">
                            <div class="col-md-4">
                                <p>{% trans "CO2 Eq for (Country)" %}</p>
                            </div>
                            <div class="col-md-2">
                                <input type="number" name="dws_cm" maxlength="100" class="form-control" id="id_cm" value="27.93" />
                            </div>
                            <div class="col-md-3">
                                <p>{% trans "TonCO2eq" %}</p>
                            </div>
                            <div class="col-md-3">
                                <select id="cm_select" class="custom-control-input">
                                    {% for currency in currencys %}
                                    {% if currency.currency == 'USD' %}
                                    <option value='{{currency.currency}}' selected>{{currency.currency}}</option>
                                    {% else %}
                                    <option value='{{currency.currency}}'>{{currency.currency}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="step2PreviousBtn">{% trans "Previous" %}</button>
                            <button type="button" class="btn btn-primary" id="step2NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 3-->
                <div id="step-3" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3>Portfolios</h3>
                        <p>{% trans "Select the objetives for which the systemwill generate portfolios of Nature-bassed Solutions, using the RIOS technnical framework" %}</p>
    
                        <ul class="list-group list-group-flush" id="portfolios-ul">
                            {% for portfolio in portfolios %}
                            <li class="list-group-item">
                                <!-- Default checked -->
                                <div class="custom-control custom-checkbox">
                                    {% if portfolio.default %}
                                    <input id='portfolio-{{portfolio.id}}' type="checkbox" class="custom-control-input" checked>
                                    {% else %}
                                    <input type="checkbox" class="custom-control-input" id="portfolio-{{portfolio.id}}">
                                    {% endif %}
                                    <label class="custom-control-label" for="check1">{{portfolio.name}}</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="step3PreviousBtn">{% trans "Previous" %}</button>
                            <button type="button" class="btn btn-primary" id="step3NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 4-->
                <div id="step-4" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3> {% trans "Biophysical tables" %}</h3>
                        <p>{% trans "In this step you will find the biophysical parameters required for the execution of the models. If you want to see or edit them, click on advanced options, otherwise click on next and the system will use the default values." %}</p>
                        <button type="button" class="btn btn-primary" id="btn-advanced_option">{% trans "Advanced options" %}</button>
                        <p>{% trans "Below are the biophysical tables that will be used in modeling un inVEST and RIOS. You can edit the values according to the specific knowledge of the supplying basins" %}</p>
                        <p>{% trans "Please see the InVEST documentation" %}</p>
                        <div class="row biophysical-panel panel-hide" id="biophysical-panel">
    
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="step4PreviousBtn">{% trans "Previous" %}</button>
                            <button type="button" class="btn btn-primary" id="step4NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 5-->
                <div id="step-5" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3> {% trans "Financial parameters" %}</h3>
                        <p></p>
                        <div class="row">
                            <div class="custom-control custom-select float-right col-md-4">
                                <label class="custom-control-label" for="financial_currency">{% trans "Currency" %}</label>
                                <select id="financial_currency" class="custom-control-input">
                                    {% for currency in currencys %}
                                    {% if currency.currency == 'USD' %}
                                    <option value='{{currency.currency}}' selected>{{currency.currency}}</option>
                                    {% else %}
                                    <option value='{{currency.currency}}'>{{currency.currency}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row" id="div_financial">
                            <div class="col-md-6">
                                <label class="custom-control-label" for="total_platform">{% trans "Platform cost per year" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="total_platform" class="text-number" type="number" class="custom-control-input" disabled>
                            </div>
    
                            <div class="col-md-6">
                                <label class="custom-control-label platform-label" for="total_personnel">{% trans "Personnel Salary and Benefits" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="total_personnel" class="text-number" type="number" class="custom-control-input" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label personnel-label" for="director">{% trans "Program director" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="director" max="16" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label personnel-label" for="evaluation"> {%trans "Monitoring and Evaluation Manager" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="evaluation" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label personnel-label" for="finance">{% trans "Finance and Administrator" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="finance" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label personnel-label" for="implementation">{% trans "Implementation Manager" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="implementation" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label platform-label" for="office">{% trans "Office Costs" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="office" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label platform-label" for="travel">{% trans "Travel" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="travel" class="text-number" type="number" class="custom-control-input" value="0">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label platform-label" for="equipment">{% trans "Equipment" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="equipment" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label platform-label" for="contracts">{% trans "Contracts" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="contracts" class="text-number" type="number" class="custom-control-input" value="0">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label platform-label" for="overhead">{% trans "Overhead" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="overhead" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label platform-label" for="others">{% trans "Others" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="others" class="text-number" type="number" class="custom-control-input" value="0">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label" for="transaction">{% trans "Transaction cost (%)" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="transaction" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label" for="discount">{% trans "Discount rate (%)" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="discount" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label" for="minimum">{% trans "Sensitivity Analysis - Minimun Discount Rate (%)" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="minimum" class="text-number" type="number" class="custom-control-input">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-control-label" for="maximum">{% trans "Sensitivity Analysis - Maximun Discount Rate (%)" %}</label>
                            </div>
                            <div class="custom-control custom-checkbox col-md-4">
                                <input id="maximum" class="text-number" type="number" class="custom-control-input">
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="step5PreviousBtn">{% trans "Previous" %}</button>
                            <button type="button" class="btn btn-primary" id="step5NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 6-->
                <div id="step-6" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3> {% trans "NBS/Conservation activities" %}</h3>
                        <p>{% trans "Select the NBS you want to consider in the analysis" %}</p>
    
                        <ul class="list-group list-group-flush" id="nbs-ul">
    
                        </ul>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="step6PreviousBtn">{% trans "Previous" %}</button>
                            <button type="button" class="btn btn-primary" id="step6NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 7-->
                <div id="step-7" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3> {% trans "RUN Analysis" %}</h3>
                        <p></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="div_period_analysis" class="form-group">
                                <label for="period_analysis" class="control-label required-field">
                                    {% trans "Analysis time period (years) (10-100)" %}
                                </label>
                                <input id="period_analysis" type="number" class="form-control text-number" min="10" max="100">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_analysis_currency" class="form-group">
                                <label for="analysis_currency" class="control-label required-field ">
                                    {% trans "Currency" %}
                                </label>
                                <select id="analysis_currency" class="form-control">
                                    {% for currency in currencys %}
                                    {% if currency.currency == 'USD' %}
                                    <option value='{{currency.currency}}' selected>{{currency.currency}}</option>
                                    {% else %}
                                    <option value='{{currency.currency}}'>{{currency.currency}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_period_nbs" class="form-group">
                                <label class="control-label required-field" for="period-nbs">{% trans "Implementation Time of Nature-Based Solution (yr)" %}</label>
                                <input id="period_nbs" type="number" class="form-control text-number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_analysis_nbs" class="form-group">
                                <label class="control-label required-field" for="analysis_nbs">{% trans "Climate Selection for Baseline and NBS Scenario Analysis" %}</label>
                                <select id="analysis_nbs" class="form-control">
                                    {% for scenario in scenarios %}
                                    <option value='{{scenario.id}}' selected>{{scenario.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="div_analysis_type" class="form-group">
                        <label class="control-label required-field ">
                            {% trans "Select an option to run the analysis" %}
                        </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="analysis_type" id="full" value="1">
                            <label class="form-check-label" for="full">
                                {% trans "Full portfolio" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="analysis_type" id="investment" value="2">
                            <label class="form-check-label" for="investment">
                                {% trans "Investment scenario" %}
                            </label>
                        </div>
                    </div>
    
                    <div class="panel panel-hide" id="panel-full">
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div id="div_btn-full" class="form-group">
                                    <button type="button" class="btn btn-primary" id="btn-full">{% trans "Assign minimum investment percentages" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-hide" id="panel-investment">
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <div id="div_annual_investment" class="form-group">
                                        <label class="control-label required-field" for="annual_investment">{% trans "Annual Investment" %}</label>
                                        <input id="annual_investment" type="number" class="text-number form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="div_rellocated_check" class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id='rellocated_check'>
                                            <label class="custom-control-label" for="rellocated_check">{% trans "Rellocated remainder" %}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="div_btn-investment" class="form-group">
                                        <button type="button" class="btn btn-primary" id="btn-investment">{% trans "Assign minimum investment" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <table id="full-table" class="table table-striped table-bordered table-condensed panel-hide">
                        <thead>
                            <tr class="info">
                                <th scope="col" class="small text-center vat">{% trans "Activity" %}</th>
                                <th scope="col" id="column_investment" class="small text-center vat">{% trans "Percentage" %}</th>
                            </tr>
                        </thead>
                        <tbody>    
                        </tbody>
                    </table>  
    
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="step7PreviousBtn">{% trans "Previous" %}</button>
                            <button type="button" class="btn btn-primary" id="step7EndBtn">{% trans "Save" %}</button>
                            <button type="button" class="btn btn-primary" id="step7RunBtn">{% trans "RUN Analysis" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>    
</div>

{% endblock %} {% block extra_script %}
<script src="{{ STATIC_URL }}study_cases/js/jquery.smartWizard.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}study_cases/js/leaflet.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Leaflet.Editable.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Leaflet.Coordinates.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Control.Loader.js"></script>
<script src="{{ STATIC_URL }}geonode/js/waterproof/waterIntake.js"></script>

<!--ZIP reader library-->
<script src="{{ STATIC_URL }}geonode/js/jszip/jszip.min.js"></script>
<!--Shapefile reader library -->
<script src="{{ STATIC_URL }}geonode/js/shp/shp.min.js"></script>
<script type="text/javascript">
    var mxBasePath = "{{ STATIC_URL }}geonode/js/mxgraph/src";
    var mxImageBasePath = "{{ STATIC_URL }}geonode/js/mxgraph/examples/images";
    var editorUrl =
        "{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/config/diagrameditor.xml";
    var serverApi = "{{serverApi}}";
    let waterproof = {};
    OSM_BASEMAP_URL = "{{ OSM_BASEMAP_URL }} ";
    IMG_BASEMAP_URL = "{{ IMG_BASEMAP_URL }} ";
    HYDRO_BASEMAP_URL = "{{ HYDRO_BASEMAP_URL }} ";
    GRAY_BASEMAP_URL = "{{ GRAY_BASEMAP_URL }} ";
    GEOSERVER_WMS = "{{ GEOSERVER_WMS }}";
    HYDRO_NETWORK_LYR = "{{ HYDRO_NETWORK_LYR }}";
</script>
<script src="{{ STATIC_URL }}study_cases/js/study_cases_create.js"></script>
<script src="{{ STATIC_URL }}study_cases/js/graph.js"></script>
<script src="{{ STATIC_URL }}study_cases/js/graphValidations.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/mxClient.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/js/app.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/js/app.js"></script>
<script src="{{ STATIC_URL }}study_cases/mathquill/mathquill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"
integrity="sha512-dTu0vJs5ndrd3kPwnYixvOCsvef5SGYW/zSSK4bcjRBcZHzqThq7pt7PmCv55yb8iBvni0TSeIDV8RYKjZL36A=="
crossorigin="anonymous"></script>-->
{% endblock %}