{% extends "geonode_base.html" %} {% load i18n %} {% block title %}{% trans "Cases Study" %}{% endblock %}

{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
<h1>{% trans "Cases Study" %}</h1>

{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" href="http://xguaita.github.io/Leaflet.MapCenterCoord/dist/L.Control.MapCenterCoord.min.css" />
    <link rel="stylesheet" href="https://photon.komoot.io/static/leaflet.photon/leaflet.photon.css"></link>

    <script>
        var intakePolygons=[]; 
        SEARCH_CITY_API_URL = '{{ SEARCH_CITY_API_URL }}';
        SEARCH_COUNTRY_API_URL = '{{ SEARCH_COUNTRY_API_URL }}';
    </script>


<style>
    .side {
        height: 100%;
        background-image: url('/static/geonode/img/FONDO.jpg');
    }


    .flecha {
        padding-left: 0.5rem;
        height: 2rem;
    }

    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled {
        padding-left: 35rem;
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 35rem;
        width: 0;
        height: 100%;
        margin-left: -35rem;
        overflow-y: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        overflow-x: hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 35rem;
    }

    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    /* Sidebar Styles */

    .sidebar-nav {
        position: absolute;
        top: 10rem;
        width: 35rem;
        margin: 0;
        padding: 0 2.5rem 0 0;
        list-style: none;
    }

    .sidebar-nav li {
        padding-left: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .list-unstyled li a {
        background-color: rgba(52, 176, 204, 0.7) !important;
    }

    .sidebar-nav li a {
        display: flex;
        text-decoration: none;
        color: #fff;
        vertical-align: middle;
        align-items: center;
        background-color: rgba(58, 128, 154, 0.7);
        font-size: 20px;
        border-radius: 0.5rem;
        height: 6rem;
    }

    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(58, 128, 154, 0.7);
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }

    .sidebar-nav>.sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

    .sidebar-nav>.sidebar-brand a {
        color: #999999;
    }

    .sidebar-nav>.sidebar-brand a:hover {
        color: #fff;
        background: none;
    }

    @media(min-width:768px) {
        #wrapper {
            padding-left: 35rem;
        }

        #wrapper.toggled {
            padding-left: 0;
        }

        #sidebar-wrapper {
            width: 35rem;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 0;
        }

        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }

        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    }
</style>

<!--Lateral Menu-->

<nav id="sidebar-wrapper" class="side">
    <div class="p-4 pt-5">
        <ul class="sidebar-nav">
          <li class="active">
            <a href="#SBN" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <img src="/static/geonode/img/01-flecha.png" class="flecha">Soluciones basadas en la naturaleza</a>
            <ul class="collapse list-unstyled" id="SBN">
              <li><a href="{% url "list-nbs" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">
                  Listar</a>                
                </li>
              {% if user.is_authenticated and not READ_ONLY_MODE %}
              <li><a href="{% url "create" %}" class="dropdown-toggle">
                <img src="/static/geonode/img/01-flecha.png" class="flecha">
                Crear</a>                
              </li>
              {% endif %}
            </ul>
        </li>
        <li>
          <a href="#Intake" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <img src="/static/geonode/img/01-flecha.png" class="flecha">Captaciones</a>
              <ul class="collapse list-unstyled" id="Intake">
              <li><a href="{% url "list-intake" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                      <img src="/static/geonode/img/01-flecha.png" class="flecha">
                      Listar</a>                
                    </li>
                {% if user.is_authenticated and not READ_ONLY_MODE %}
                  <li><a href="{% url "create" %}" class="dropdown-toggle">
                    <img src="/static/geonode/img/01-flecha.png" class="flecha">
                    Crear</a>                
                  </li>
                {% endif %}

                </ul>
        </li>
        <li>
          <a href="#TPlants" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <img src="/static/geonode/img/01-flecha.png" class="flecha">Plantas de tratamiento</a>
              <ul class="collapse list-unstyled" id="TPlants">
              <li><a href="{% url "treatment-plants-list" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                      <img src="/static/geonode/img/01-flecha.png" class="flecha">
                      Listar</a>                
                    </li>
                {% if user.is_authenticated and not READ_ONLY_MODE %}                
                  <li><a href="{% url "create" %}" class="dropdown-toggle">
                    <img src="/static/geonode/img/01-flecha.png" class="flecha">
                    Crear</a>                
                  </li>
                {% endif %}
                
                </ul>
        </li>
        <li>
          <a href="#StudyCase" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <img src="/static/geonode/img/01-flecha.png" class="flecha">Casos de estudio</a>
              <ul class="collapse list-unstyled" id="StudyCase">
              <li><a href="{% url "study_cases_list" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                      <img src="/static/geonode/img/01-flecha.png" class="flecha">
                      Listar</a>                
                    </li>
                {% if user.is_authenticated and not READ_ONLY_MODE %}                
                  <li><a href="{% url "create" %}" class="dropdown-toggle">
                    <img src="/static/geonode/img/01-flecha.png" class="flecha">
                    Crear</a>                
                  </li>
                {% endif %}                
                </ul>
        </li>
        {% if user.is_authenticated and not READ_ONLY_MODE %}
        <li>
          <a href="#Historic" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <img src="/static/geonode/img/01-flecha.png" class="flecha">Históricos</a>
        </li>
        {% endif %}
        {% if user.is_authenticated and not READ_ONLY_MODE %}  
        <li>
          <a href="#Databases" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <img src="/static/geonode/img/01-flecha.png" class="flecha">Databases</a>
        </li>
        {% endif %}
        
        </ul>
    </div>
  </nav>
<!--/div-->


{% endblock %} {% block body_outer %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<div class="row">
    <div class="col-md-4">
        <h4 class="text-center" id="countryLabel"></h4>
        <p><b>{% trans "Selected City" %} :</b> <span id="cityLabel">{{city}}</span></p>
        <p><b>{% trans "Region" %} :</b> <span id="regionLabel">{{region.name}}</span></p>
        <p><b>{% trans "Currency" %}:</b><span id="currencyLabel">({{currency.code}}) - {{currency.name}}</span></p>
    </div>
    <div class="col-md-8">
        <div id="mapidcuenca" style="width: 700px; height: 300px;"></div>

    </div>
</div>


<div class="page-header">
    <h1>{% trans "List Cases Study" %}</h1>
    <a href="create/" id="createUrl">{% trans "Create new Case Study" %}</a>
</div>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered table-condensed" style="width:100%">
        <thead>
            <tr class="info">
                <th scope="col" class="small text-center vat">{% trans "Case study" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Description" %}</th>
                <th scope="col" class="small text-center vat">{% trans "User" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Date" %}</th>
                <th scope="col" class="small text-center vat" style="display: none;">{% trans "City" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Treatment plants" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Water intakes" %}</th>
                <th scope="col" class="small text-center vat">{% trans "Cost customize" %}</th>

            </tr>
        </thead>
        <tbody>
            {% for studyCases in casesList %}
            <tr>
                <td class="small text-center vat">{{studyCases.dws_name}}</td>
                <td class="small text-center vat">{{studyCases.dws_description}}</td>
                <td class="small text-center vat"></td>
                <td class="small text-center vat">{{studyCases.dws_create_date | date:"d-m-Y"}}</td>
                <td class="small text-center vat" style="display: none;"></td>
                <td class="small text-center vat"></td>
                <td class="small text-center vat"></td>
                <td class="small text-center vat"></td>
                <td>
                    <div class="btn-group btn-group-table" role="group">
                        <a class="btn btn-primary" href="/waterproof_nbs_ca/view/{{intake.pk}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    </div>
                </td>
                <td>
                    <div class="btn-group btn-group-table" role="group">
                        <a class="btn btn-primary" href="/waterproof_nbs_ca/view/{{intake.pk}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        {% if user.is_authenticated %}
                        {% if user.professional_role == 'ADMIN' %}
                        <a class="btn btn-info" href="/waterproof_nbs_ca/edit/{{intake.pk}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a class="btn btn-warning" href="/waterproof_nbs_ca/clone/{{intake.pk}}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="/waterproof_nbs_ca/delete/{{intake.pk}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% endif %}
                        {% if user.professional_role == 'ANALYS' %}
                        {% if intake.added_by.pk == user.pk %}
                        <a class="btn btn-info" href="/waterproof_nbs_ca/edit/{{intake.pk}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a class="btn btn-warning" href="/waterproof_nbs_ca/clone/{{intake.pk}}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="/waterproof_nbs_ca/delete/{{intake.pk}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% else %}
                        <a class="btn btn-warning" href="/waterproof_nbs_ca/clone/{{intake.pk}}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block body %}{% endblock body %} {% block sidebar %}{% endblock sidebar %} {% endblock body_outer %} {% block extra_script %}
<script>
    var countriesLayerUrl = '{{ STATIC_URL }}waterproof_intake/data/countries.geojson';
    var userCountryId = '{{userCountry.id}}';
    var userCountryCode = '{{userCountry.code}}';
    var userCountryName = '{{userCountry.name}}';
</script>
<script src="{{ STATIC_URL }}geonode/js/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}geonode/js/datatables/dataTables.bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/leaflet.ajax.min.js"></script>
<script src="{{ STATIC_URL }}study_cases/js/study_cases_list.js"></script>
<script src="https://vinceg.github.io/twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
<script src="https://vinceg.github.io/twitter-bootstrap-wizard/prettify.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/photon/leaflet.photon.js"></script>
<script src="{% static "geonode/js/leaflet/Leaflet.Coordinates.js" %}"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/leaflet-omnivore.min.js"></script>

<script src="{{ STATIC_URL }}geonode/sample_data/intake_polygon.js"></script>

<script type="text/javascript">
    API_URL = '/proxy/?url=https://photon.komoot.de/api/?';
    TILELAYER = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
    CENTER = [-74.4879, 4.582];
    MAXZOOM = 11;

    let waterproof = {};

    $(document).ready(function() {



    });

    var searchPoints = L.geoJson(null, {
        onEachFeature: function(feature, layer) {
            layer.bindPopup(feature.properties.name);
        }
    });
</script>
{% endblock %}