{% extends "base.html" %} {% load i18n %} {% load static from staticfiles %}
{%load bootstrap_tags %} {% block extra_head %}
<link href="https://unpkg.com/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/leaflet/Control.Coordinates.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/leaflet/Control.Loader.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}study_cases/mathquill/mathquill.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}study_cases/css/study_cases.css" />
{% endblock %} {% block body_outer %}
<!--header-->
<div class="page-header">
    <h1>Create Study Cases</h1>
</div>
<!--Begin Form-->
<form id="form" method="POST" action="">
    {% csrf_token %}
    <!--Start smartwizard-->
    <div id="smartwizard">
        <!--panel of navigation-->
        <ul class="nav">
            <li>
                <a class="nav-link" href="#step-1"> Define </a>
            </li>
        </ul>
        <!--Steps-->
        <div class="tab-content" id="autoAdjustHeightF">
            <!--Step 1-->
            <div id="step-1" class="tab-pane" role="tabpanel">
                <div class="page-header">
                    <h3>Define Study Case</h3>
                    <p>Please complete the fields to define your Study Case</p>
                </div>
                <!--Input Name -->
                <div id="study_case">
                    <div id="div_id_name" class="form-group">
                        <label for="id_name" class="control-label required-field">
                            Name of Study Case
                        </label>
                        <div class="">
                            <input type="text" name="dws_name" maxlength="100" class="form-control" id="id_name" />
                        </div>
                    </div>
                </div>
                <!--Input Desc -->
                <div id="div_id_description" class="form-group">
                    <label for="id_description" class="control-label required-field ">
                        Description
                    </label>
                    <textarea rows="3" class="form-control" name="dws_description" id="id_description"></textarea>
                </div>
                <!--Input Desc -->
                <div id="div_id_type" class="form-group">
                    <label for="div_id_type" class="control-label required-field ">
                        Select type of study case to create
                    </label>
                    {% if intakes %}
                    {% if treatmentplants %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="id_type" id="ptap" value="1">
                        <label class="form-check-label" for="custom">
                            Treatment plants
                        </label>
                    </div>
                    {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        there are no treatment plants in the selected city
                    </div>

                    {% endif %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="id_type" id="custom" value="2" checked>
                        <label class="form-check-label" for="custom">
                            Custom case
                        </label>
                    </div>
                    {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        <button type="button" class="btn btn-link btn-block" data-toggle="modal" data-target="#HelpModal" id="HelpModalBtnModal" style="outline:none; text-decoration:none;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </button>
                        </button>
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel panel-hide">
                                <div class="col-md-6">
                                    <label>Treatments plants<span class="text-danger-wp">(*)</span>
                                    </label>
                                    <select class="form-control" id="selectPlant">

{% block extra_head %}
<div>
    <style>
        .side {
            height: 100%;
            background-image: url('/static/geonode/img/FONDO.jpg');
        }
    
    
        .flecha {
            padding-left: 0.5rem;
            height: 2rem;
        }
    
        #wrapper {
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    
        #wrapper.toggled {
            padding-left: 35rem;
        }
    
        #sidebar-wrapper {
            z-index: 1000;
            position: fixed;
            left: 35rem;
            width: 0;
            height: 100%;
            margin-left: -35rem;
            overflow-y: auto;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            overflow-x: hidden;
        }
    
        #wrapper.toggled #sidebar-wrapper {
            width: 35rem;
        }
    
        #page-content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
        }
    
        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
    
        /* Sidebar Styles */
    
        .sidebar-nav {
            position: absolute;
            top: 10rem;
            width: 35rem;
            margin: 0;
            padding: 0 2.5rem 0 0;
            list-style: none;
        }
    
        .sidebar-nav li {
            padding-left: 2.5rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    
        .list-unstyled li a {
            background-color: rgba(52, 176, 204, 0.7) !important;
        }
    
        .sidebar-nav li a {
            display: flex;
            text-decoration: none;
            color: #fff;
            vertical-align: middle;
            align-items: center;
            background-color: rgba(58, 128, 154, 0.7);
            font-size: 20px;
            border-radius: 0.5rem;
            height: 6rem;
        }
    
        .sidebar-nav li a:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(58, 128, 154, 0.7);
        }
    
        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }
    
        .sidebar-nav>.sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
        }
    
        .sidebar-nav>.sidebar-brand a {
            color: #999999;
        }
    
        .sidebar-nav>.sidebar-brand a:hover {
            color: #fff;
            background: none;
        }
    
        @media(min-width:768px) {
            #wrapper {
                padding-left: 35rem;
            }
    
            #wrapper.toggled {
                padding-left: 0;
            }
    
            #sidebar-wrapper {
                width: 35rem;
            }
    
            #wrapper.toggled #sidebar-wrapper {
                width: 0;
            }
    
            #page-content-wrapper {
                padding: 20px;
                position: relative;
            }
    
            #wrapper.toggled #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
    </style>
    
    <!--Lateral Menu-->
    
    <nav id="sidebar-wrapper" class="side">
        <div class="p-4 pt-5">
            <ul class="sidebar-nav">
              <li class="active">
                <a href="#SBN" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <img src="/static/geonode/img/01-flecha.png" class="flecha">Soluciones basadas en la naturaleza</a>
                <ul class="collapse list-unstyled" id="SBN">
                  <li><a href="{% url "list-nbs" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                      <img src="/static/geonode/img/01-flecha.png" class="flecha">
                      Listar</a>                
                    </li>
                  {% if user.is_authenticated and not READ_ONLY_MODE %}
                  <li><a href="{% url "create" %}" class="dropdown-toggle">
                    <img src="/static/geonode/img/01-flecha.png" class="flecha">
                    Crear</a>                
                  </li>
                  {% endif %}
                </ul>
            </li>
            <li>
              <a href="#Intake" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Captaciones</a>
                  <ul class="collapse list-unstyled" id="Intake">
                  <li><a href="{% url "list-intake" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                          <img src="/static/geonode/img/01-flecha.png" class="flecha">
                          Listar</a>                
                        </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}
                      <li><a href="{% url "create" %}" class="dropdown-toggle">
                        <img src="/static/geonode/img/01-flecha.png" class="flecha">
                        Crear</a>                
                      </li>
                    {% endif %}
    
                    </ul>
            </li>
            <li>
              <a href="#TPlants" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Plantas de tratamiento</a>
                  <ul class="collapse list-unstyled" id="TPlants">
                  <li><a href="{% url "treatment-plants-list" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                          <img src="/static/geonode/img/01-flecha.png" class="flecha">
                          Listar</a>                
                        </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}                
                      <li><a href="{% url "create" %}" class="dropdown-toggle">
                        <img src="/static/geonode/img/01-flecha.png" class="flecha">
                        Crear</a>                
                      </li>
                    {% endif %}
                    
                    </ul>
            </li>
            <li>
              <a href="#StudyCase" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Casos de estudio</a>
                  <ul class="collapse list-unstyled" id="StudyCase">
                  <li><a href="{% url "study_cases_list" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                          <img src="/static/geonode/img/01-flecha.png" class="flecha">
                          Listar</a>                
                        </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}                
                      <li><a href="{% url "create" %}" class="dropdown-toggle">
                        <img src="/static/geonode/img/01-flecha.png" class="flecha">
                        Crear</a>                
                      </li>
                    {% endif %}                
                    </ul>
            </li>
            {% if user.is_authenticated and not READ_ONLY_MODE %}
            <li>
              <a href="#Historic" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Históricos</a>
            </li>
            {% endif %}
            {% if user.is_authenticated and not READ_ONLY_MODE %}  
            <li>
              <a href="#Databases" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Databases</a>
            </li>
            {% endif %}
            
            </ul>
        </div>
      </nav>
    </div>
{% endblock %}

{% block body_outer %}
  <h1>{% trans "Study Cases (beta)" %}</h1>
  <div id="rootwizard">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul>
            <li><a href="#tab1" data-toggle="tab">Create Study Case</a></li>
            <li><a href="#tab2" data-toggle="tab">Carbon Market</a></li>
            <li><a href="#tab3" data-toggle="tab">Portfolios</a></li>
            <li><a href="#tab4" data-toggle="tab">Modeling Parameters</a></li>
            <li><a href="#tab5" data-toggle="tab">NBS/Conservatio Activities</a></li>
            <li><a href="#tab6" data-toggle="tab">Run Analysis</a></li>
            
          </ul>
        </div>
    </div>
</form>

{% endblock %} {% block extra_script %}
<script src="{{ STATIC_URL }}study_cases/js/jquery.smartWizard.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}study_cases/js/leaflet.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Leaflet.Editable.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Leaflet.Coordinates.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Control.Loader.js"></script>
<script src="{{ STATIC_URL }}geonode/js/waterproof/waterIntake.js"></script>

<!--ZIP reader library-->
<script src="{{ STATIC_URL }}geonode/js/jszip/jszip.min.js"></script>
<!--Shapefile reader library -->
<script src="{{ STATIC_URL }}geonode/js/shp/shp.min.js"></script>
<script type="text/javascript">
    var mxBasePath = "{{ STATIC_URL }}geonode/js/mxgraph/src";
    var mxImageBasePath = "{{ STATIC_URL }}geonode/js/mxgraph/examples/images";
    var editorUrl =
        "{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/config/diagrameditor.xml";
    var serverApi = "{{serverApi}}";
    let waterproof = {};
    OSM_BASEMAP_URL = "{{ OSM_BASEMAP_URL }} ";
    IMG_BASEMAP_URL = "{{ IMG_BASEMAP_URL }} ";
    HYDRO_BASEMAP_URL = "{{ HYDRO_BASEMAP_URL }} ";
    GRAY_BASEMAP_URL = "{{ GRAY_BASEMAP_URL }} ";
    GEOSERVER_WMS = "{{ GEOSERVER_WMS }}";
    HYDRO_NETWORK_LYR = "{{ HYDRO_NETWORK_LYR }}";
</script>
<script src="{{ STATIC_URL }}study_cases/js/study_cases_create.js"></script>
<script src="{{ STATIC_URL }}study_cases/js/graph.js"></script>
<script src="{{ STATIC_URL }}study_cases/js/graphValidations.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/mxClient.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/js/app.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/js/app.js"></script>
<script src="{{ STATIC_URL }}study_cases/mathquill/mathquill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"
integrity="sha512-dTu0vJs5ndrd3kPwnYixvOCsvef5SGYW/zSSK4bcjRBcZHzqThq7pt7PmCv55yb8iBvni0TSeIDV8RYKjZL36A=="
crossorigin="anonymous"></script>-->
{% endblock %}