{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block extra_head %}
<div>
    <style>
        .side {
            height: 100%;
            background-image: url('/static/geonode/img/FONDO.jpg');
        }
    
    
        .flecha {
            padding-left: 0.5rem;
            height: 2rem;
        }
    
        #wrapper {
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    
        #wrapper.toggled {
            padding-left: 35rem;
        }
    
        #sidebar-wrapper {
            z-index: 1000;
            position: fixed;
            left: 35rem;
            width: 0;
            height: 100%;
            margin-left: -35rem;
            overflow-y: auto;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            overflow-x: hidden;
        }
    
        #wrapper.toggled #sidebar-wrapper {
            width: 35rem;
        }
    
        #page-content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
        }
    
        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
    
        /* Sidebar Styles */
    
        .sidebar-nav {
            position: absolute;
            top: 10rem;
            width: 35rem;
            margin: 0;
            padding: 0 2.5rem 0 0;
            list-style: none;
        }
    
        .sidebar-nav li {
            padding-left: 2.5rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    
        .list-unstyled li a {
            background-color: rgba(52, 176, 204, 0.7) !important;
        }
    
        .sidebar-nav li a {
            display: flex;
            text-decoration: none;
            color: #fff;
            vertical-align: middle;
            align-items: center;
            background-color: rgba(58, 128, 154, 0.7);
            font-size: 20px;
            border-radius: 0.5rem;
            height: 6rem;
        }
    
        .sidebar-nav li a:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(58, 128, 154, 0.7);
        }
    
        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }
    
        .sidebar-nav>.sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
        }
    
        .sidebar-nav>.sidebar-brand a {
            color: #999999;
        }
    
        .sidebar-nav>.sidebar-brand a:hover {
            color: #fff;
            background: none;
        }
    
        @media(min-width:768px) {
            #wrapper {
                padding-left: 35rem;
            }
    
            #wrapper.toggled {
                padding-left: 0;
            }
    
            #sidebar-wrapper {
                width: 35rem;
            }
    
            #wrapper.toggled #sidebar-wrapper {
                width: 0;
            }
    
            #page-content-wrapper {
                padding: 20px;
                position: relative;
            }
    
            #wrapper.toggled #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
    </style>
    
    <!--Lateral Menu-->
    
    <nav id="sidebar-wrapper" class="side">
        <div class="p-4 pt-5">
            <ul class="sidebar-nav">
              <li class="active">
                <a href="#SBN" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <img src="/static/geonode/img/01-flecha.png" class="flecha">Soluciones basadas en la naturaleza</a>
                <ul class="collapse list-unstyled" id="SBN">
                  <li><a href="{% url "list-nbs" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                      <img src="/static/geonode/img/01-flecha.png" class="flecha">
                      Listar</a>                
                    </li>
                  {% if user.is_authenticated and not READ_ONLY_MODE %}
                  <li><a href="{% url "create" %}" class="dropdown-toggle">
                    <img src="/static/geonode/img/01-flecha.png" class="flecha">
                    Crear</a>                
                  </li>
                  {% endif %}
                </ul>
            </li>
            <li>
              <a href="#Intake" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Captaciones</a>
                  <ul class="collapse list-unstyled" id="Intake">
                  <li><a href="{% url "list-intake" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                          <img src="/static/geonode/img/01-flecha.png" class="flecha">
                          Listar</a>                
                        </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}
                      <li><a href="{% url "create" %}" class="dropdown-toggle">
                        <img src="/static/geonode/img/01-flecha.png" class="flecha">
                        Crear</a>                
                      </li>
                    {% endif %}
    
                    </ul>
            </li>
            <li>
              <a href="#TPlants" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Plantas de tratamiento</a>
                  <ul class="collapse list-unstyled" id="TPlants">
                  <li><a href="{% url "treatment-plants-list" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                          <img src="/static/geonode/img/01-flecha.png" class="flecha">
                          Listar</a>                
                        </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}                
                      <li><a href="{% url "create" %}" class="dropdown-toggle">
                        <img src="/static/geonode/img/01-flecha.png" class="flecha">
                        Crear</a>                
                      </li>
                    {% endif %}
                    
                    </ul>
            </li>
            <li>
              <a href="#StudyCase" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Casos de estudio</a>
                  <ul class="collapse list-unstyled" id="StudyCase">
                  <li><a href="{% url "study_cases_list" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="dropdown-toggle">
                          <img src="/static/geonode/img/01-flecha.png" class="flecha">
                          Listar</a>                
                        </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}                
                      <li><a href="{% url "create" %}" class="dropdown-toggle">
                        <img src="/static/geonode/img/01-flecha.png" class="flecha">
                        Crear</a>                
                      </li>
                    {% endif %}                
                    </ul>
            </li>
            {% if user.is_authenticated and not READ_ONLY_MODE %}
            <li>
              <a href="#Historic" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Históricos</a>
            </li>
            {% endif %}
            {% if user.is_authenticated and not READ_ONLY_MODE %}  
            <li>
              <a href="#Databases" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <img src="/static/geonode/img/01-flecha.png" class="flecha">Databases</a>
            </li>
            {% endif %}
            
            </ul>
        </div>
      </nav>
    </div>
{% endblock %}

{% block body_outer %}
  <h1>{% trans "Study Cases (beta)" %}</h1>
  <div id="rootwizard">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul>
            <li><a href="#tab1" data-toggle="tab">Create Study Case</a></li>
            <li><a href="#tab2" data-toggle="tab">Carbon Market</a></li>
            <li><a href="#tab3" data-toggle="tab">Portfolios</a></li>
            <li><a href="#tab4" data-toggle="tab">Modeling Parameters</a></li>
            <li><a href="#tab5" data-toggle="tab">NBS/Conservatio Activities</a></li>
            <li><a href="#tab6" data-toggle="tab">Run Analysis</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div id="bar" class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
        1
      </div>
      <div class="tab-pane" id="tab2">
        2
      </div>
      <div class="tab-pane" id="tab3">
          3
      </div>
      <div class="tab-pane" id="tab4">
          4
      </div>
      <div class="tab-pane" id="tab5">
        5
      </div>
      <div class="tab-pane" id="tab6">
          6
      </div>      
      <ul class="pager wizard">
        <li class="previous first" style="display:none;"><a href="#">First</a></li>
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next last" style="display:none;"><a href="#">Last</a></li>
        <li class="next"><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
  <form method="post" action=".">
    {% csrf_token %}
    <div id="study_cases">
      
        {{ form|as_bootstrap }}
      
      
    </div>
    <input type="submit" value="{% trans "Submit" %}" />
  </form>  
{% endblock %}

{% block extra_script %}
  <script src="{{ STATIC_URL }}study_cases/js/study_cases.js"></script>
  <script src="https://vinceg.github.io/twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
  <script src="https://vinceg.github.io/twitter-bootstrap-wizard/prettify.js"></script>
{% endblock %}