{% extends "menu.html" %} 
{% load i18n %} 
{% block title %}{% trans "Water Intakes" %}{% endblock %}
{% load i18n %} 
{% load static from staticfiles %} 
{% load bootstrap_tags %}
<h1>{% trans "Water Intakes" %}</h1>

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/leaflet/Control.Coordinates.css " />
<link rel="stylesheet" href="https://photon.komoot.io/static/leaflet.photon/leaflet.photon.css">
</link>

<script>
    var intakePolygons = [];
    SEARCH_CITY_API_URL = '{{ SEARCH_CITY_API_URL }}';
    SEARCH_COUNTRY_API_URL = '{{ SEARCH_COUNTRY_API_URL }}';
</script>
{% endblock %} 

{% block body_outer %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/dataTables.bootstrap.min.css">

<link href="{% static "geonode/css/sidenav.css" %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

<br>

<div class="row">
    <div>
        <h4>{{Countries.name}}</h4>
    </div>
</div>
<div class="page-header">

    <br>
    {% if user.is_authenticated and not READ_ONLY_MODE %}
    <a href="create/"textColor="red" style="outline-color: dimgrey;">{% trans "Create new Water Intake" %}</a>
    {% else %}
    <a id="createUrlDisabled">{% trans "Create new Water Intake" %}</a>
    <h6>{% trans "You must be a registered user to create a new Intake*" %}</h6>
    {% endif %}
</div>
<div class="table-responsive">
</div>


{% block body %}{% endblock body %} {% block sidebar %}{% endblock sidebar %} {% endblock body_outer %} {% block extra_script %}
<script>
    var countriesLayerUrl = '{{ STATIC_URL }}waterproof_intake/data/countries.geojson';
    var userCountryId = '{{userCountry.id}}';
    var userCountryCode = '{{userCountry.code}}';
    var userCountryName = '{{userCountry.name}}';
    var intakeList = '{{intakeList}}';
</script>
<script src="{{ STATIC_URL }}geonode/js/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}geonode/js/datatables/dataTables.bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/leaflet.ajax.min.js"></script>
<!--script src="{{ STATIC_URL }}waterproof_intake/js/intake_list.js"></script-->
<script src="https://vinceg.github.io/twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
<script src="https://vinceg.github.io/twitter-bootstrap-wizard/prettify.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/photon/leaflet.photon.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Leaflet.Coordinates.js" %} "></script>
<script src=" {{ STATIC_URL }}geonode/js/leaflet/leaflet-omnivore.min.js "></script>

<script src=" {{ STATIC_URL }}geonode/sample_data/intake_polygon.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@10 "></script>
<script type=" text/javascript ">
    API_URL = '/proxy/?url=https://photon.komoot.de/api/?';
    TILELAYER = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
    CENTER = [-74.4879, 4.582];
    MAXZOOM = 11;

    let waterproof = {};

    $(document).ready(function() {



    });

    var searchPoints = L.geoJson(null, {
        onEachFeature: function(feature, layer) {
            layer.bindPopup(feature.properties.name);
        }
    });

</script>
{% endblock %}