{% extends "menu.html" %}{% load i18n %} {% load l10n %}{% load bootstrap_tags %} 

{% block extra_head %}
{% endblock %}

{% block body_outer %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/bootstrap-duallistbox.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_treatment_plants/css/treatment_plants.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="header-waterproof">
    <div class="row">
        <div class="col-sm-3.5">
            <h1 id="titleFormTreatmentPlant"></h1>
        </div>
        <div class="col-sm-1">
            <h1>
            <button type="button" data-toggle="modal" data-target="#HelpPTAP" id="HelpModalBtnModal" class="glyphicon glyphicon-question-sign" aria-hidden="true" style="outline:none; text-decoration:none; color: #0977ca; border-style: none; background-color:transparent;"></button>
            </h1>
        </div>
        <div class="col-lg-4">
            <h4>{% trans "Treatment plant creation city: " %} <span id="nameCity"></span> </h4>
        </div>
    </div>
    <form data-toggle="validator" role="form" action="#">
        <h4 class="text-primary">{% trans "General information" %}</h4>
        <div class="form-group">
            <label>{% trans "Name" %} <span class="text-danger-wp">(*)</span> </label>
            <input type="text" class="form-control" id="idNamePlant" data-error="This field is required" placeholder="Enter name" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label>{% trans "Description" %} <span class="text-danger-wp">(*)</span> </label>
            <textarea id="idDescriptionPlant" class="form-control" placeholder="Enter description" data-error="This field is required"
                rows="4" required></textarea>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <fieldset>
                <h4 class="text-primary">{% trans "Water Intake" %} <span class="text-danger-wp">(*)</span> </h4>
                <p>{% trans "Select from the list water intakes that arrive at your treatment plant and click on the button 'Add water intake'" %}</p>
                <select  id="idIntakePlant" class="form-control" data-error="This field is required" required>
                    <option></option>
                </select>
                <br>
                <table class="table table-striped table-bordered table-condensed" style="width:100%">
                    <thead>
                        <tr class="info">
                            <th scope="col" class="small text-center vat">{% trans "Name" %}</th>
                            <th scope="col" class="small text-center vat">{% trans "Water intake sources" %}</th>
                            <th scope="col" class="small text-center vat">{% trans "Infraestructure associated with the DWTP" %}</th>
                            <th scope="col" class="small text-center vat">{% trans "Options" %}</th>
                        </tr>
                    </thead>
                    <tbody id="idTbodyIntake">
                    </tbody>
                </table>
                <div class="help-block with-errors"></div>
                <button type="button" class="btn btn-primary" id="idSendIntake">{% trans "Confirm water intakes sources" %}</button>
            </fieldset>
        </div>

        <div class="form-group">
            <fieldset>
                <h4 class="text-primary">{% trans "Treatment unit process diagram" %} <span class="text-danger-wp">(*)</span> </h4>
                <p>{% trans "WaterProof presents below the suggested components or processes for treating the water quality of the selected catchments. Click on the processes that are part of your treatment plant and use the checkbox to enable or disable them." %}</p>
                <div class="container-graph">
                    <div class="container-config">
                        <div class="div-scroll">
                            <div class="arrow-right positon-arrow position-arrow-two">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-one">
                                <div class="line-right-one"></div>
                                <div class="point-right-one"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-four-one">
                                <div class="line-right-four"></div>
                                <div class="point-right-four"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-four">
                                <div class="line-right-four"></div>
                                <div class="point-right-four"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-five">
                                <div class="line-right-four"></div>
                                <div class="point-right-four"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-six">
                                <div class="line-right-four"></div>
                                <div class="point-right-four"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-six-one">
                                <div class="line-right-four"></div>
                                <div class="point-right-four"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-six-two">
                                <div class="line-right-four"></div>
                                <div class="point-right-four"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-two-seven">
                                <div class="line-right-seven"></div>
                                <div class="point-right-seven"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-three">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-four">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-five">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-six">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-six-left">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-seven">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-eight">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-seven-one">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="arrow-right positon-arrow position-arrow-eight-one">
                                <div class="line-right"></div>
                                <div class="point-right"></div>
                            </div>
                            <div class="container-element container-element-two">
                                <div class="img-container-two img-color-container" id="black1" graphId="2" nameElement="Mezcla rápida" plantElement="MEZCLARAPIDA" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Mezcla rápida" %}</div>
                                <div class="container-change-state" onclick="changeStatus(1)"><div class="change-state" id="id1"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Mezcla rápida" plantElement="MEZCLARAPIDA" graphId="2" model="A,B,C,D,E" id="id11d"  idr="id1"></div>
                            </div>
                            <div class="container-element container-element-two-top">
                                <div class="img-container img-color-container" id="black2" graphId="12" nameElement="Dosificación" plantElement="DOSIFICACION" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Dosificación" %}</div>
                                <div class="container-change-state" onclick="changeStatus(2)"><div class="change-state" id="id2"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Dosificación" plantElement="DOSIFICACION" graphId="12" model="A,B,C,D,E" id="id21d"  idr="id2"></div>
                            </div>
                            <div class="container-element container-element-three">
                                <div class="img-container-three img-color-container" id="black3" graphId="3" nameElement="Mezcla lenta" plantElement="MEZCLALENTA" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Mezcla lenta" %}</div>
                                <div class="container-change-state" onclick="changeStatus(3)"><div class="change-state" id="id3"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Mezcla lenta" plantElement="MEZCLALENTA" graphId="3" model="A,B,C,D,E" id="id31d"  idr="id3"></div>
                            </div>
                            <div class="container-element container-element-four">
                                <div class="img-container-four img-color-container" id="black4" graphId="4" nameElement="Sedimentación" plantElement="SEDIMENTACION" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Sedimentación" %}</div>
                                <div class="container-change-state" onclick="changeStatus(4)"><div class="change-state" id="id4"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Sedimentación" plantElement="SEDIMENTACION" graphId="4" model="A,B,C,D,E" id="id41d"  idr="id4"></div>
                            </div>
                            <div class="container-element container-element-five">
                                <div class="img-container-five img-color-container" id="black5" graphId="5" nameElement="Filtración" plantElement="FILTRACION" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Filtración" %}</div>
                                <div class="container-change-state" onclick="changeStatus(5)"><div class="change-state" id="id5"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Filtración" plantElement="FILTRACION" graphId="5" model="A,B,C,D,E,F" id="id51d"  idr="id5"></div>
                            </div>
                            <div class="container-element container-element-six">
                                <div class="img-container-six img-color-container" id="black6" graphId="7" nameElement="Filtración por membranas tamaño de particula retenida 0.01 μm" plantElement="FILTRACIONPORMEMBRANANIVEL2" onclick="viewTree(this)"></div>
                                <div class="container-change-state" onclick="changeStatus(6)"><div class="change-state" id="id6"></div></div>
                                <div class="text-container-one">{% trans "Filtración por membranas tamaño de particula retenida 0.01 μm" %}</div>
                                <div class="opacity-graph" name="disableElement" nameElement="Filtración por membranas tamaño de particula retenida 0.01 μm" graphId="7" model="" id="id61d"  idr="id6"></div>
                            </div>
                            <div class="container-element container-element-six-left">
                                <div class="img-container-seven img-color-container" id="black7" graphId="6" nameElement="Filtración por membranas tamaño de particula retenida 0.1 μm" plantElement="FILTRACIONPORMEMBRANANIVEL1" onclick="viewTree(this)"></div>
                                <div class="container-change-state" onclick="changeStatus(7)"><div class="change-state" id="id7"></div></div>
                                <div class="text-container-one">{% trans "Filtración por membranas tamaño de particula retenida 0.1 μm" %}</div>
                                <div class="opacity-graph" name="disableElement" nameElement="Filtración por membranas tamaño de particula retenida 0.1 μm" plantElement="FILTRACIONPORMEMBRANANIVEL1" graphId="6" model="A,B,E" id="id71d"  idr="id7"></div>
                            </div>
                            <div class="container-element container-element-seven">
                                <div class="img-container-nine img-color-container" id="black8" graphId="8" nameElement="Filtración por membranas tamaño de particula retenida 0.001 μm" plantElement="FILTRACIONPORMEMBRANANIVEL3" onclick="viewTree(this)"></div>
                                <div class="container-change-state" onclick="changeStatus(8)"><div class="change-state" id="id8"></div></div>
                                <div class="text-container-one">{% trans "Filtración por membranas tamaño de particula retenida 0.001 μm" %}</div>
                                <div class="opacity-graph" name="disableElement" nameElement="Filtración por membranas tamaño de particula retenida 0.001 μm" plantElement="FILTRACIONPORMEMBRANANIVEL3" graphId="8" model="" id="id81d"  idr="id8"></div>
                            </div>
                            <div class="container-element container-element-seven-one">
                                <div class="img-container-nine-one img-color-container" id="black9" graphId="9" nameElement="Filtración por membranas tamaño de particula retenida 0.0001 μm" plantElement="FILTRACIONPORMEMBRANANIVEL4" onclick="viewTree(this)"></div>
                                <div class="container-change-state" onclick="changeStatus(9)"><div class="change-state" id="id9"></div></div>
                                <div class="text-container-one">{% trans "Filtración por membranas tamaño de particula retenida 0.0001 μm" %}</div>
                                <div class="opacity-graph" name="disableElement" nameElement="Filtración por membranas tamaño de particula retenida 0.0001 μm" plantElement="FILTRACIONPORMEMBRANANIVEL4" graphId="9" model="A" id="id91d"  idr="id9"></div>
                            </div>
                            <div class="container-element container-element-seven-bottom">
                                <div class="img-container-eight img-color-container" id="black10" graphId="13" nameElement="Tratamiento de lodos" plantElement="TRATAMIENTODELODOS" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Tratamiento de lodos" %}</div>
                                <div class="container-change-state" onclick="changeStatus(10)"><div class="change-state" id="id10"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Tratamiento de lodos" plantElement="TRATAMIENTODELODOS" graphId="13" model="A,B,C,D,E,F" id="id101d"  idr="id10"></div>
                            </div>
                            <div class="container-element container-element-eight">
                                <div class="img-container-ten img-color-container" id="black11" graphId="10" nameElement="Intercambio iónico" plantElement="INTERCAMBIOIONICO" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Intercambio iónico" %}</div>
                                <div class="container-change-state" onclick="changeStatus(11)"><div class="change-state" id="id11"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Intercambio iónico" plantElement="INTERCAMBIOIONICO" graphId="10" model="B,C" id="id111d"  idr="id11"></div>
                            </div>
                            <div class="container-element container-element-eight-one">
                                <div class="img-container-ten-one img-color-container" id="black12" graphId="11" nameElement="Desinfección" plantElement="DESINFECCION" onclick="viewTree(this)"></div>
                                <div class="text-container">{% trans "Desinfección" %}</div>
                                <div class="container-change-state" onclick="changeStatus(12)"><div class="change-state" id="id12"></div></div>
                                <div class="opacity-graph" name="disableElement" nameElement="Desinfección" plantElement="DESINFECCION" graphId="11" model="A,B,C,D,E,F,G" id="id121d"  idr="id12"></div>
                            </div>
                        </div>
                    </div>
                    <div id="idBackgroundGraph" class="container-background"></div>    
                </div>
            </fieldset>
        </div>
        <br>
        <div>
            <h4 class="text-primary">{% trans "Processes, technologies and cost functions" %} <span class="text-danger-wp">(*)</span> </h4>
            <p>{% trans "Please confirm or edit the diagram according to your reality" %}</p>
        </div>
        <div class="main-tree-content">
            <div>
                <div class="main-point" onclick="viewBranch('mainTree', this)">-</div>
                <div class="text-point-main" id="branch1">{% trans "Treatment Plant" %}</div>
            </div>
            <div class="margin-main" id="mainTree" style="visibility: hidden"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="button" id="submit" class="btn btn-primary ">{% trans "Submit" %}</button>
            </div>
        </div>
        
    </form>
</div>

<div class="modal fade" id="HelpPTAP" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="HelpModalLabel" style="color:#6398C1 ;">{% trans "Creation of treatment plants" %}
                </h3>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Treatment plants are a key element in ROI analysis setup. Once there are water  intakes that deliver the water to the treatment plants, a set of processes is responsible for eliminating coarse solids, resulting in a reduction of the pollutant load in the water, seeking to make it suitable for human consumption, or meet the requirements of current legislation. WaterProof offers  default cost functions forthe following processes:" %}
                </p>
                <table style="border: 1px solid black;">
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/Dosage.png"></img>
                        </td>
                        <td>{% trans "Represents the process in which coagulant is applied to the water to promote the increase in  particle size forming floc, to promote settling of particles." %}</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/rapid.png"></img>
                        </td>
                        <td>{% trans "Process in which the coagulant is dispersed uniformly and quickly through turbulence formed by hydraulic or mechanical means." %}</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/slow.png"></img>
                        </td>
                        <td>{% trans "Process that relies on channels or structures where the turbulence necessary for floc formation is produced." %}</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/sedimentation.png"></img>
                        </td>
                        <td>{% trans "Process in which the floc already formed separates from the water thanks to the low flow velocity and the floc's own weight, allowing it to fall to the bottom of the tank forming a sludge that must be removed for proper management." %}</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/filtration.png"></img>
                        </td>
                        <td>{% trans "Process in which water is passed through a bed (mainly sand, sand and anthracite) so that particles and certain microorganisms are filtered out and retained within the bed." %}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/membrane1.png"></img>
                        </td>
                        <td rowspan="4">{% trans "A process in which membranes are used to remove all particles, molecules and microorganisms larger than their pore size. The main classification of advanced filtration establishes four categories: microfiltration, ultrafiltration, nanofiltration and reverse osmosis. The differences in each are the minimum pore sizes, being 100 nanometers (nm) for microfiltration, 10 nm for ultrafiltration, 1 nm for nanofiltration and smaller sizes for reverse osmosis." %}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/membrane2.png"></img>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/membrane3.png"></img>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/membrane4.png"></img>
                        </td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"><img style="margin: 10px auto 10px; display: block;" src="/static/geonode/img/desinfection.png"></img>
                        </td>
                        <td>{% trans "A chemical process in which unwanted dissolved ions in water and effluents –  such as nitrate, fluorine, sulfate, and arsenic - are exchanged for other ions with a similar charge. This is done by means of a polymer capable of exchanging ions for other ions in a solution that passes through them. These synthetic gel spheres are called 'Ion Exchange Resins'. Process in which reagents, usually chlorine and ammonia, are added to form chloramines, eliminating any microorganisms that may have survived the previous processes and guaranteeing water quality throughout its journey through the distribution network. The final disposal of sludge from the flocculation and filtration processes is carried out by pumping, thickeners, drying beds or belt filters." %}</td>
                    </tr>

                </table>
                <div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: white; background-color: #6398C1;">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var countriesLayerUrl = '{{ STATIC_URL }}waterproof_intake/data/countries.geojson';
    var userCountryId = '{{userCountry.id}}';
    var userCountryCode = '{{userCountry.code}}';
    var userCountryName = '{{userCountry.name}}';
</script>
{% endblock body_outer %} {% block extra_script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.css" />
<script src="{{ STATIC_URL }}geonode/js/jszip/jszip.min.js"></script>
<script src="{{ STATIC_URL }}geonode/js/shp/shp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"
    integrity="sha512-dTu0vJs5ndrd3kPwnYixvOCsvef5SGYW/zSSK4bcjRBcZHzqThq7pt7PmCv55yb8iBvni0TSeIDV8RYKjZL36A=="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/leaflet.ajax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}waterproof_treatment_plants/js/waterproof_list_treatment_plants.js"></script>
<script src="https://unpkg.com/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}waterproof_intake/mathquill/mathquill.min.js"></script>
{% endblock %}