textarea {
    resize: vertical;
}

.vat {
    vertical-align: middle !important;
}

.btn-group-table {
    display: flex;
}

.swal2-popup {
    font-size: 2rem !important;
}

.text-danger-wp {
    color: rgb(255, 0, 0) !important;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.px-5 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.truncate {
    max-height: 5.3rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tablacheck{
    border: 1px black solid;
    margin: 0 !important; 
    height: 4.1rem !important; 
    padding: 0.9rem !important;
}
.borde{
    border: 1px black solid;
}

@media (min-width: 768px) {
    .header-waterproof{
        padding-left: 16rem;
        padding-bottom: 1rem;
    }
    #mapid{
        width: 580px !important;
        border: 2px solid;        
    } 
}
@media (min-width: 992px) {
    .header-waterproof{
        padding-left: 24rem;
        padding-bottom: 1rem;
    }
    #mapid{
        width: auto !important;
        border: 2px solid;        
    } 
}
@media (min-width: 1200px) {
    .header-waterproof{
        padding-left: 28rem;
        padding-bottom: 3rem;
    }
    #mapid{
        width: auto !important;
        border: 2px solid;        
    } 
}

#mapid{
    width: 350px; 
    height: 400px;
    border: 1px solid;
    border-radius: 0.5em;
    border-color: #aaa;
}

.justify-number{
    text-align: right;
}

.justify-text{
    text-align: left;
}