*{
    margin:2px;
    font-family: Arial, 'Times New Roman', Times, serif;
}


.box form input{
    padding: 5px;
    margin-bottom: 20px;
}
.box form input[type="submit"]{
    padding: 10 px;
    background:rgb(102, 101, 102);
    color: white;
}
.box form input[type="submit"]:hover{
    padding: 10 px;
    background: gray;
}

.art-item .data{
    padding: 15px;
    vertical-align: middle;
    float: left;
    clear: both;
}

.paginacion{
    clear: both;
    display: block;
    float: left;

}
.referencias >h3{
    display: block;
    float: left;
    clear: both;
    color: #2c689c;
    font-size: 20px; 
}
.enlaces >h3{
    display: block;
    float: left;
    clear: both;
    color: #2c689c;
    font-size: 20px;
}


nav > ul > li >a{
    display: none;
    position: absolute;
    color:silver;
    text-align: left;
    width: 160px;
}
nav > ul > li:hover{
    display: block;
    color:slategray;
    text-align: left;
    width: 160px;
}