{% extends 'waterproof_wiki/layout.html'%}

{% load i18n %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_wiki/css/styles.css"/>
{% endblock %}

{% block body_outer %}

{% block content %}
        
        
        <article class="art-item">
            <div class="data">
                <h2>{{articulo.titulo}}:</h2>
                <h4>{{articulo.created_at}}</h4>
                {{articulo.contenido|safe|linebreaks}}<br>
            </div>
            
            <div class="referencias">
                <h3>Bibliografía</h3>
                <div class="data-article">
                    {%for r in referencias %}
                    <p> {{r.anno}}. {{r.nombre}}. {{r.publicador}}. 
                        {% if r.url is not None %}
                        | <a href="{{r.url}}" target="_blank">{{r.url}}</a></p>
                        {%endif%}
                    {%endfor%}
                </div>
            </div>

            <div class="enlaces">
                <h3>Referencies</h3>
                <div class="data-article">
                {%for e in enlaces %}
                    <p>{{e.descripcion}} | <a href="{{e.url}}" target="_blank">{{e.url}}</a></p>
                {%endfor%}
                </div>
            </div>
            <div id="titulo" class="data">
                <h4>
                <a href="../">Ir a la Wiki</a>
                </h4>
            </div>
        </article>

{% endblock%}

{% endblock%}