{% extends "menu.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block extra_head %}
<link href="https://unpkg.com/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}lib/css/leaflet.css"/>
<link rel="stylesheet" href="{% static "geonode/css/leaflet/leaflet.defaultextent.css" %}"/>
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/leaflet/Control.Coordinates.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/leaflet/Control.Loader.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}waterproof_intake/mathquill/mathquill.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}waterproof_intake/css/intake.css" />
<script>
    MathJax = {
        loader: {
            load: ['input/asciimath']
        },
        asciimath: {
            delimiters: [
                ["'math'", "'math'"]
            ]
        }
    };
</script>

{% endblock %}
{% block body_outer %}
<!--header-->
<div class="header-waterproof">
    <div class="row">
        <div class="col-sm-6">
            <h1> {% trans "Water Intake" %}</h1>
        </div>
        <div class="col-sm-6">
            <h4 class="title-city">{% trans "Intake creation city" %}: <span id="cityLabel">{{intake.city.name}}, {{intake.city.country.name}}</span> </h4>
        </div>
    </div>
    <!--Begin Form-->
    <form id="form" method="POST" action="">
        {% csrf_token %}
        <!--Start smartwizard-->
        <div id="smartwizard">
            <!--panel of navigation-->
            <ul class="nav">
                <li>
                    <a class="nav-link" href="#step-1">
                        {% trans "Location" %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-2">
                        {% trans "Infrastructure" %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-3">
                        {% trans "Demand" %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-4">
                        {% trans "External input" %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-5">
                        {% trans "NbS area" %}
                    </a>
                </li>
            </ul>
            <!--Steps-->
            <div class="tab-content" id="autoAdjustHeightF">
                <!--Step 1-->
                <div id="step-1" class="tab-pane" role="tabpanel">                    
                    <!--Input Name -->
                    <div id="water_intake">
                        <div id="div_id_name" class="form-group  ">
                            <label for="id_name" class="control-label required-field ">
                                {% trans "Name" %}
                            </label>
                            <div class="">
                                <input type="text" name="name" maxlength="100" class=" form-control" id="id_name"
                                    value="{{intake.name}}" disabled>
                            </div>
                        </div>
                    </div>
                    <!--Input Desc -->
                    <div id="div_id_description" class="form-group  ">
                        <label for="id_description" class="control-label required-field ">
                            {% trans "Description" %}
                        </label>
                        <div class="">
                            <input type="text" name="description" maxlength="1024" class=" form-control" id="id_description"
                                value="{{intake.description}}" disabled>
                        </div>
                    </div>
                    <!--Input Source Name -->
                    <div id="id_water_source_name" class="form-group  ">
                        <label for="id_description" class="control-label required-field ">
                            {% trans "Water source name" %}
                        </label>
                        <div class="">
                            <input type="text" name="water_source_name" maxlength="100" id="id_water_source_name"
                                class=" form-control" value="{{intake.water_source_name}}" disabled>
                        </div>
                    </div>
                    <!-- Map -->
                    <div>
                        <h4 class="text-primary">{% trans "Water intake location" %}</h4>
                    </div>
                    <div id="map">
                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" value="next" class="btn btn-primary" id="step1NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 2-->
                <div id="step-2" class="tab-pane" role="tabpanel">
                    <div class="page-header">
                        <h3>{% trans "Configuration parameters" %}</h3>
                    </div>
                    <!--Toolbar mxgraph-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info" style="display: none;">
                                <div class="panel-body text-center" id="toolbar" disabled></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Graph-->
                        <div class="col-md-8 position-graph">
                            <textarea id="xml" style="height:600px;width:100%;display:none;border-style:none;"></textarea>
                            <div class="panel panel-info">
                                <div class="panel-body" id="graph" tabindex="-1"
                                    style="height:700px;width:100%;overflow:hidden;cursor:default; outline:none;"></div>
                            </div>
                        </div>
                        <!--Panel Information Right-->
                        <div class="col-md-4 position-table">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <!--Figure Name-->
                                    <div class="alert alert-info" role="alert">
                                        <h1 class="text-center" id="titleDiagram"></h1>
                                    </div>
                                    <!--ID Item-->
                                    <div class="form-group">
                                        <label>ID:</label>
                                        <input type="number" id="idDiagram" min="" max="" class="form-control" disabled>
                                    </div>
                                    <!--Water transport-->
                                    <div class="form-group">
                                        <label>{% trans "% Transported water" %}:</label>
                                        <input type="number" id="aguaDiagram" min="" max="" class="form-control"
                                            oninput="validateinput(this)" disabled>
                                    </div>
                                    <!--Sediments-->
                                    <div class="form-group">
                                        <label>{% trans "% Sediments retained" %}:</label>
                                        <input type="number" id="sedimentosDiagram" min="" max="" class="form-control"
                                            oninput="validateinput(this)" disabled>
                                    </div>
                                    <!--Nitrogen-->
                                    <div class="form-group">
                                        <label>{% trans "% Nitrogen retained" %}:</label>
                                        <input type="number" id="nitrogenoDiagram" class="form-control"
                                            oninput="validateinput(this)" disabled>
                                    </div>
                                    <!--Phosphorus-->
                                    <div class="form-group">
                                        <label>{% trans "% Phosphorus retained" %}:</label>
                                        <input type="number" id="fosforoDiagram" class="form-control"
                                            oninput="validateinput(this)" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-primary">{% trans "Cost functions "%}</h4>
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div id="funcostgenerate"></div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" value="previous" class="btn btn-primary" id="step2PrevBtn">{% trans "Previous" %}</button>
                            <button type="button" value="next" class="btn btn-primary" id="step2NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                    
                </div>
                <!--Step 3-->
                <div id="step-3" class="tab-pane" role="tabpanel">
                    <!--Header-->
                    <div>
                        <h3>{% trans "Water extraction"%}</h3>                    
                    </div>
                    <!--navigation-->
                                                    
                    <div class="tab-pane fade in active" id="automatic">                    
                        <div class="form-group">
                            <div class="row">
                                <!--Data analysis Insert-->
                                <div class="col-md-8 position-graph">
                                    <h5 class="text-primary">{% trans "Data analysis" %}</h5>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{% trans "Interpolation method" %} </label>
                                                <input type="text" class="form-control" id="typeProcessInterpolation" value='{{interpolation}}' disabled >
                                            </div>
                                            <div class="col-md-6">
                                                <label>{% trans "Number of years for time series" %} <span
                                                    class="text-danger-wp">(*)</span> </label>
                                                <input type="text" class="form-control" id="numberYearsInterpolationValue" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    {%if intake.demand_parameters.interpolation_type != 'MANUAL'%}
                                    <h5 class="text-primary">{% trans "Extraction" %}</h5>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{% trans "Initial year" %} </label>
                                                <input type="text" class="form-control" value='{{initial_extraction}}' disabled>
                                            </div>
                                            <div class="col-md-6" id="finalColumnExtraction">
                                                <label>{% trans "Final year" %} </label>
                                                <input type="text" class="form-control" value='{{final_extraction}}' disabled>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <button type="button" value="generate" class="btn btn-primary" id="intakeWECB" style="display: none;">{% trans "Generate" %}</button>
                                </div>
                                <!--Data analysis Results-->
                                <div class="col-md-4 position-table">
                                    <h5 class="text-primary">{% trans "Results" %}</h5>
                                    <div style="max-height: 400px; overflow-y: auto;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">{% trans "Year" %}</th>
                                                    <th class="text-center" scope="col">{% trans "Extraction Value (l/s)" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody id="intakeECTAG">
                                                {% for y in extraction_result %}
                                                <tr >
                                                    <td class="small text-center " >{{y.0}}</th>
                                                    <td class="small text-center " >{{y.1}}</th>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                    
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" value="previous" class="btn btn-primary" id="step3PrevBtn">{%trans "Previous" %}</button>
                            <button type="button" value="next" class="btn btn-primary" id="step3NextBtn">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div>
                <!--Step 4-->
                <div id="step-4" class="tab-pane" role="tabpanel">
                    <!--Header-->
                    <div class="page-header">
                        <h3>{% trans "External inputs" %}</h3>
                        <p> <span id="ExternalNumbersInputs"></span> {% trans "External inputs to define" %}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-primary">{% trans "Asignation" %}</h4>
                            <div class="form-group">
                                <label>{% trans "Type element for asignation" %}</label>
                                <select class="form-control" id="externalSelect"></select>
                            </div>
                            <div id="IntakeTDLE" disabled></div>
                        </div>
                    </div>
                    <br>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <button type="button" value="previous" class="btn btn-primary" id="step4PrevBtn">{% trans "Previous" %}</button>
                                <button type="button" value="next" class="btn btn-primary" id="step4NextBtn">{% trans "Next" %}</button>
                            </div>
                        </div>
                </div>
                <!--Step 5-->
                <div id="step-5" class="tab-pane" role="tabpanel">
                    <div class="row">
                        <!--Map-->
                        <div class="col-md-7 width-graph-5">
                            <div class="panel panel-danger">
                                <div id="mapid" style="width: 100%; height: 400px;"></div>
                            </div>
                        </div>
                        <!--Panel Information Right-->
                        <div class="col-md-5 width-info-5">
                            <div class="panel panel-default" style="height: auto;">
                                <div class="panel-body">
                                    <div class="alert alert-info" role="alert">
                                        <h1 class="text-center">{% trans "Intake area delimitation" %}</h1>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="col-md-12 form-group">
                            <button type="button" value="previous" class="btn btn-primary" id="step5PrevBtn">{% trans "Previous" %}</button>
                            <a type="button" class="btn btn-primary" 
                                href="{% url "list-intake" %}?city={{ intake.city.id }}&limit={{ CLIENT_RESULTS_LIMIT }}" >
                                {% trans "Exit" %}
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            </div>

            <!--Inputs hidden for save data-->
            <input type="hidden" id="xmlGraph" name="xmlGraph" value="{{intake.xml_graph}}" disabled>
            <input type="hidden" id="graphConnections" name="graphConnections" disabled>
            <input type="hidden" id="isFile" name="isFile" disabled>
            <input type="hidden" id="typeDelimit" name="typeDelimit" disabled>
            <input type="hidden" id="waterExtraction" name="waterExtraction" value="" disabled>
            <input type="hidden" id="delimitArea" name="delimitArea" value="" disabled>
            <input type="hidden" id="pointIntake" name="pointIntake" value="" disabled>
            <input type="hidden" id="intakeAreaPolygon" name="intakeAreaPolygon" value="" disabled>
            <input type="hidden" id="graphElements" name="graphElements" value="" disabled>
            <input type="hidden" id="basinId" name="basinId" value="" disabled>
    </form>
</div>

{% endblock %}
{% block extra_script %}
<script src="https://unpkg.com/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
<script src="{% static "lib/js/leaflet.js" %}"></script>
<script src="{% static "geonode/js/leaflet/leaflet.defaultextent.js" %}"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Leaflet.Coordinates.js"></script>
<script src="{{ STATIC_URL }}geonode/js/leaflet/Control.Loader.js"></script>
<script src="{{ STATIC_URL }}geonode/js/waterproof/waterIntake.js"></script>

<!--ZIP reader library-->
<script src="{{ STATIC_URL }}geonode/js/jszip/jszip.min.js"></script>
<!--Shapefile reader library -->
<script src="{{ STATIC_URL }}geonode/js/shp/shp.min.js"></script>
<script type="text/javascript">
    OSM_BASEMAP_URL = '{{ OSM_BASEMAP_URL }} ';
    IMG_BASEMAP_URL = '{{ IMG_BASEMAP_URL }} ';
    HYDRO_BASEMAP_URL = '{{ HYDRO_BASEMAP_URL }} ';
    var intakePolygons=[];
    var mxBasePath = '{{ STATIC_URL }}geonode/js/mxgraph/src';
    var mxImageBasePath = '{{ STATIC_URL }}geonode/js/mxgraph/examples/images';
    var editorUrl = '{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/config/diagrameditor.xml';
    var serverApi = '{{serverApi}}';
    var intakeInterpolationParams = {};
    intakeInterpolationParams.type = '{{ intake.demand_parameters.interpolation_type }}';
    intakeInterpolationParams.yearsNum = '{{intake.demand_parameters.years_number}}';
    intakeInterpolationParams.initialExtract = parseFloat('{{intake.demand_parameters.initial_extraction}}'.replace(',', '.'));
    intakeInterpolationParams.endingExtract = parseFloat('{{intake.demand_parameters.ending_extraction}}'.replace(',', '.'));
    var xmlGraph = $('#xmlGraph').val();
    var intakeExternalInputs = JSON.parse('{{externalInputs|safe}}');
    var intakeObject = {};
    intakeObject.id = '{{intake.id}}'
    intakeObject.polygon = '{{intake.polygon_set.first.geomIntake|safe}}';
    intakeObject.point=JSON.parse('{{intake.polygon_set.first.geomPoint|safe}}');
    intakeObject.delimitArea='{{intake.polygon_set.first.geom}}';
    intakePolygons.push(intakeObject);
</script>

<script src="{{ STATIC_URL }}geonode/js/leaflet/leaflet-omnivore.min.js"></script>
<script src="{{ STATIC_URL }}waterproof_intake/js/intake_view.js"></script>
<script src="{{ STATIC_URL }}waterproof_intake/js/graph_view.js"></script>
<script src="{{ STATIC_URL }}waterproof_intake/js/graphValidations.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/mxClient.js"></script>
<script src="{{ STATIC_URL }}geonode/js/mxgraph/examples/editors/js/app.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="{{ STATIC_URL }}waterproof_intake/mathquill/mathquill.min.js"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{% endblock %}