.python-expression{
  margin-top: 5px;
  width: 90%;
  font-family: monospace;
  font-size: 1.2rem;
}
.valid_expression{
  border: 2px solid #029902;
  box-shadow: 0 0 10px #719ece;
  color: rgb(2, 124, 33);
}

.invalid_expression{
  border: 2px solid #af0900;
  box-shadow: 0 0 10px #719ece;
  color: red;
}

@media screen and (min-width: 768px) {
  .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-xl {
  min-width: 1140px;
  margin: auto;
  min-height: 800px;
}

.modal {
  text-align: center;
}

textarea {
  resize: vertical;
}