{% extends "menu.html" %}
{% load i18n %}
{% block title %}{% trans "Water Intakes" %}{% endblock %}
{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
<h1>{% trans "Water Intakes" %}</h1>

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />


<script>
    
</script>
{% endblock %}

{% block body_outer %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/dataTables.bootstrap.min.css">
<link href="{% static "geonode/css/sidenav.css" %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}waterproof_nbs_ca/css/waterproof_nbs_ca.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<div class="row">    
    <div class="col-md-8">
        <div id="map"/>
    </div>
</div>


{% block body %}{% endblock body %} {% block sidebar %}{% endblock sidebar %} {% endblock body_outer %} {% block extra_script %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src=" {{ STATIC_URL }}geonode/js/leaflet/leaflet-omnivore.min.js "></script>
<script src=" {{ STATIC_URL }}geonode/js/leaflet/leaflet-side-by-side.min.js "></script>
<!--deps-->
<script src="https://unpkg.com/geotiff@1.0.0-beta.13/dist-browser/geotiff.js"></script>
<script src="https://unpkg.com/plotty@0.4.1/dist/plotty.js"></script>

<!--the plugin-->
<script src="https://unpkg.com/leaflet-geotiff-2@0.2.5/dist/leaflet-geotiff.js"></script>
<script src="https://unpkg.com/leaflet-geotiff-2@0.2.5/dist/leaflet-geotiff-plotty.js"></script>
<script src="https://unpkg.com/leaflet-geotiff-2@0.2.5/dist/leaflet-geotiff-vector-arrows.js"></script>

<script type=" text/javascript ">
    var map = L.map('map').setView([-37, 150], 5);

    var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap<\/a> contributors'
    }).addTo(map);

    var stamenLayer = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', {
        attribution:
            'Map tiles by <a href="http://stamen.com">Stamen Design<\/a>, ' +
            '<a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0<\/a> &mdash; ' +
            'Map data {attribution.OpenStreetMap}',
        minZoom: 1,
        maxZoom: 16
    }).addTo(map)

    L.control.sideBySide(stamenLayer, osmLayer).addTo(map);

    const windSpeedUrl = "https://danwild.github.io/leaflet-geotiff-2/wind_speed.tif";
    const plottyRenderer = L.LeafletGeotiff.plotty({
        displayMin: 0,
        displayMax: 10,
        clampLow: false,
        clampHigh: false
    });
    const windSpeedLayer = L.leafletGeotiff(windSpeedUrl, {
        renderer: plottyRenderer
    }).addTo(map);


</script>
{% endblock %}